[2016-08-09 04:35] subfuzion opened #10 "Add protocol buffer support to etcd store"
We will store typed data in our key/value store using using protocol buffers. Add the ability to marshal/unmarshal protocol buffers to the implementation of our etcd store interface.

[2016-08-09 04:41] subfuzion opened #11 "Add log service support"
Add an rpc service for querying logs stored in elasticsearch. Provide support for queries with various filter criteria. Provide a cli `logs` command for querying the service.

Our concept of log collation corresponds to Docker Cloud's log multiplexing and is very similar to the work that @generalhenry worked on with `amp-log-service`. @freignat91 will be working on the log producer side and adding

[2016-08-09 04:46] subfuzion opened #12 "Add stat service"
Add an rpc stat service used to query status and various performance metrics from various backend services. Add a cli `stat` command for querying the service.

[2016-08-09 04:50] subfuzion opened #13 "Add image builder service"
Add an rpc service for registering, managing, and reviewing image builds for services. Add a cli command for accessing the service.

[2016-08-09 04:59] subfuzion opened #14 "Add GitHub authorization to amp"
In the short term, we will need to implement the GitHub non-web app oauth flow for authenticating cli users (`amp`) to the backend `amplify`.

See: https://developer.github.com/v3/oauth/#non-web-application-flow

[2016-08-09 05:17] subfuzion opened #15 "Consolidated agent"
Create a single agent in Go that can provide the same functionality as our current `amp-docker-agent` and `amp-log-service`/`amp-log-agent`. Evaluate what functionality of our original docker agent is still necessary at the node level and make recommendations on what, if anything, can be eliminated if the information we previously captured is available with alternative strategies under Docker 1.12

[2016-08-09 15:45] freignat91 commented on #15
added project repository: amp-agent: https://github.com/appcelerator/amp-agent
A new service v1.0.0-0, on this version this agent:
- Read container Docker events to have an up to date internal list of the started containers
  -Get service_id, service_name, node_id, state, health of this containers
  -For each create a logs stream and send it to kafka
  -has a API for its own healthcheck and contai

[2016-08-09 15:50] subfuzion commented on #15
@freignat91 Looking good so far!

[2016-08-09 15:51] subfuzion commented on #15
@freignat91 Let's have a conversation about the pros/cons of consolidating this into amp and what that would mean if we did...

[2016-08-09 16:01] freignat91 commented on #15
That only the first version, needs to be tested more in details, but the main principles are there except HA for now.

[2016-08-09 23:21] subfuzion opened #18 "Remove amp-pilot dependency for swarm min services"
amp-pilot is preventing services from starting. Remove the amp-pilot dependencies for the minimum service set to unblock development & testing.

[2016-08-09 23:25] subfuzion commented on #18
Tested and confirmed: because of the use of HEALTHCHECK in our base images those services that come up and fail due to an upstream dependency not being available are successfully restarted according to restart settings and become healthy.

[2016-08-09 23:25] #18 closed, assigned to nobody

[2016-08-10 09:01] freignat91 commented on #15
amp-agent v1.0.0-1: Added: send dockers events to kafka
commit: https://github.com/appcelerator/amp-agent/commit/0904c9a387aea344da54779d337c1dadabf34f52

[2016-08-10 10:02] freignat91 commented on #15
Testing and stabilizing the version before going further.

[2016-08-10 10:27] freignat91 commented on #15
create PR on appcelerator/app: https://github.com/appcelerator/amp/pull/20
to add amp-agent, remove amp-docker-agent and amp-log-service, add kibana, kafkamanager
then logs can be viewed on kibana after amp startup
amp-log worker work can be followed in kafkamanager on its consumer ui part.

[2016-08-10 15:11] freignat91 opened #22 "Adjust HEALTHCHECK parameters to be used without amp-pilot"
It seems that without amp-pilot, we need to let more time to the container before kill them, especially at amp startup period.
With amp 'min' we strange behavior due to service restarting to quickly.

[2016-08-10 15:12] subfuzion commented on #22
Yes, I agree. I slightly bumped up the interval for [docker-telegraf](https://github.com/appcelerator/docker-telegraf/commit/01eaabf0c827f93407f8a99a2a653b588c46d1e8) and pushed that when I was experimenting yesterday. I was going to ask you and Nicolas to investigate and fine-tune further. Thanks!

[2016-08-10 15:21] freignat91 commented on #22
i investigated a little and i saw that the application are killed when they are starting if they spend too much time to be ready, letting them in the bad shape and some of them are not able anymore to start or block some port even started. It's weird.
amp-pilot didn't kill applications, it just wait to launch them, that was the difference, we can have sort delay to wait, but not to kill.
the best

[2016-08-11 00:09] chrisccoy opened #25 "Add Sub Commands to CLI"
I think it might be a good idea to add support for sub commands within the CLI to support nested commands where necessary.
For example,

`amp status cpu --filter datacenter="dc2"`

In the above, we would have a cpu sub command nested within status. The cpu sub command would have its own flags for specific behavior. I feel like this behavior would make the CLI more intuitive to the end user and als

[2016-08-11 05:42] subfuzion commented on #25
Most of our commands will need subcommands similar to the Docker CLI. For example, we will need something like `amp service create`. Your use case definitely looks reasonable to me.

[2016-08-11 07:04] freignat91 commented on #22
Done. testing, removing all images locally and pulling them all to start amp min

[2016-08-11 08:05] freignat91 commented on #22
tests done and ok.

[2016-08-11 08:07] freignat91 commented on #15
adding recovery capability on crash using last time_id stored in elasticsearch in order to do not resent logs which have been already sent.

[2016-08-11 08:38] subfuzion commented on #22
@freignat91: Awesome, pulling latest images. Just to confirm ... this is only for the `--min` set right now, correct? Or have all the images been updated?

[2016-08-11 09:37] freignat91 commented on #15
Commited recovery update (forgot to link this commit to this issue):
https://github.com/appcelerator/amp-agent/commit/760946432ab8680a8598dfb340e9c2d3a56ff023

[2016-08-11 09:38] freignat91 commented on #15
testing it

[2016-08-11 09:47] freignat91 commented on #22
It's just for amp min, i have updated nginx and amp-ui because i use them for tests.
you're right, better to update all. I'm going to update all the other images this afternoon.

[2016-08-11 14:12] freignat91 commented on #22
done for amp services images excepted consul, kafka-manager, amp-pilot and the ones which have been already done

[2016-08-11 18:58] subfuzion commented on #22
Since we will be using etecd instead of consul as our backend k/v store, I'd like to eliminate any other dependencies we might have on consul, such as storing reverse proxy configuration settings or anything else we were considering using it for, and remove it from the swarm script.

[2016-08-11 19:06] subfuzion commented on #15
@freignat91 I just started to look at the code. Can you please add a Makefile at the repo root that incorporates the same kind of rule I added to the amp repo for checking code quality issues? See the `check` rule I added [here](https://github.com/appcelerator/amp/blob/master/Makefile#L77). It checks all the sources (filtering out the `vendor` directory and any auto-generated files). Your code sho

[2016-08-11 19:17] subfuzion commented on #25
@chrisccoy No other discussion here, but I definitely see the need for sub-commands. I'm going to close this issue, but I think it was a good idea to raise it; in fact, I think it's a good idea that you, me, @generalhenry and @bertrand-quenin open separate issues with the specs for our respective CLI interfaces as they evolve so we can get feedback and consensus. The issues should have the `area/c

[2016-08-11 19:18] #25 closed, assigned to nobody

[2016-08-12 06:36] chrisccoy opened #29 "Ignore Vendor Folder Temporarily"
Considering we are doing `glide install` often, could we just add the vendor directory to gitignore to avoid status errors? I only suggest this as a temporary idea.

[2016-08-12 10:18] freignat91 commented on #15
ok, Makefile on going

[2016-08-12 12:50] freignat91 commented on #15
testing new image with all updated code, manually for now
testing Docker events pushed on Kafak
testing containers running list updated concidering Docker events
testing logs pushed on Kafka
testing crash and recover with no logs sent two times

[2016-08-12 13:17] freignat91 commented on #22
About Consul, we have now only amp-pilot and amp-ui that use it. Nginx doesn't need Consul, it had just a upstream service Consul to reverse proxy Consul, but i have already removed it. So ningx has now no dependency with Consul.
About amp-pilot, it's ok for amp 'min', but for the full amp, we need to modify third products images to remove all amp-pilot trace in it. Could be done by Nicolas next w

[2016-08-12 13:47] freignat91 commented on #22
tested full amp platform without consul:
all services are up after a while
Logs are visible in Kibana
Grafana starts and show dashboard, but no data in there
amp-ui works (logs, containers details, ...) but doesn't show services status (all set to unknown)

[2016-08-12 14:09] freignat91 commented on #22
According to logs the telemetry worker issue come from telegraf-worker which started with kafka not readay, but is it-self considered as ready, so it does't restart and stay in a bad shape.
To be fixed by Nicolas next week
logs:
Fri Aug 12 2016 15:57:34    2016/08/12 13:57:34 Started the kafka consumer service, peers: [zookeeper:2181], topics: [telegraf]
Fri Aug 12 2016 15:57:34    2016/08/12 13:5

[2016-08-12 14:41] freignat91 commented on #15
amp-agent tested ok on swarm min and on full swam

[2016-08-12 16:03] freignat91 commented on #22
Here is a workaround: kill the telemetry-worker container, then the service restart it and after a short while we have all the data in grafana dashboard

[2016-08-12 20:09] subfuzion opened #31 "Remove consul as an AMP swarm dependency"
See my comment here: https://github.com/appcelerator/amp/issues/22#issuecomment-239257553

[2016-08-12 20:13] #31 closed, assigned to nobody

[2016-08-14 19:58] subfuzion commented on #10
#32 is a small PR that implements initial support for marshaling/unmarshaling protocol buffers to etcd key/value storage with create, get, and delete operations. The PR does not close this issue. Subsequent PRs will wrap the object so that metadata (such as version) is also encapsulated by the storage object, and will add more storage operations, like guaranteed updates with put.

[2016-08-16 17:53] subfuzion commented on #29
I've addressed this over slack, but just to recap, I'm definitely not in love with the current state of vendoring in the community. I agree that waiting for glide install to complete is painful (and it doesn't always complete successfully). But if you ignore vendor, then you will _for sure_ need to run glide install every you pull a PR or any new branch.

I think we're committed at this point and

[2016-08-16 17:53] #29 closed, assigned to nobody

[2016-08-16 18:38] subfuzion opened #36 "Service authorization"
We would like to get to the point where authorization is transparent to service implementors. For now, however, we can make an explicit check in our service implementation to see if a request is authorized using the grpc context. For example:

[code]

The CLI should add the user's auth token to the context that is supplied with the rpc call. We probably want a helper on the client side that suppli

[2016-08-17 01:22] #14 closed, assigned to nobody

[2016-08-17 01:34] subfuzion commented on #10
I've provided a storage.Object that is used for wrapping a payload (protocol buffer message) and metadata for using with the backend. Working on providing tests for it now.

[2016-08-17 15:29] ndegory opened #39 "swarm script not compatible with system with more than one IP"
$ sudo ./swarm start --min

--advertise-addr is not an option from the swarm script, probably from Docker.

[2016-08-17 16:46] ndegory commented on #22
the problem with telegraf is not related to kafka, but to zookeeper (zk: node does not exist)
It's probably because the zookeeper service is started after the telegraf service in the swarm script, I'll change the order.
If Kafka is not available, then telegraf should fail, which is a good behavior (Swarm will launch a new one, and all will be fine once Kafka is up)

[2016-08-17 17:02] #36 closed, assigned to nobody

[2016-08-17 17:10] subfuzion commented on #36
The PR doesn't make things quite as transparent as I was looking for as mentioned in this issue's description, but it provides a solid foundation for the end-to-end auth. We can iterate on this with a bit of refactoring. The github auth portion itself was very nicely done and seems to work very well. Thanks @generalhenry 👍

[2016-08-17 20:38] generalhenry opened #42 "Add build commands to CLI"
Proposed commands:

[code]

[2016-08-17 22:45] subfuzion commented on #22
@ndegory Please look at [influxdb](https://github.com/appcelerator/docker-influxdb/blob/master/run.sh). It takes a long time to start:

[code]

It looks like `run.sh` has the potential to be optimized for a faster start, there shouldn't be anything related to amp-pilot in `run.sh` anymore, and the `HEALTHCHECK` can be more optimally tuned.

[2016-08-17 22:49] subfuzion commented on #22
@ndegory

Please don't change the order. The point is to see how well we can tune the retry intervals so that we can trust docker 1.12 to still reliably ensure all the services eventually start. In other words if one service reports that it is unhealthy because its upstream dependency is not available, docker will retry to start the service according to its healthcheck retry policy. At some point,

[2016-08-17 22:50] subfuzion commented on #22
@ndegory I also want to emphasize that all updates to the swarm script need to go through a PR. We are no longer pushing updates to `master` for the very reason that changes might happen without me or anyone being aware. The PR process is so that there is the opportunity to approve or reject a change. Thanks!

[2016-08-17 22:59] subfuzion commented on #39
@ndegory Please show the output from running `docker version`.

[2016-08-17 23:26] subfuzion commented on #42
Relates to https://github.com/appcelerator/amp/issues/13

[2016-08-17 23:29] subfuzion commented on #42
Looks good to me for now.

You wanted monotonically increasing build numbers to make nice URLs and build reports, so maybe you can also accept build numbers as well as uuid's for at least the logs command...  ;)

[2016-08-18 08:02] ndegory commented on #22
@subfuzion no worries, I prefer to go through PR anyway :)
I did some tests on my side, the order is not a good fix.
What happens is that in certain conditions (zookeeper up but Kafka not ready), telegraf doesn't initialize the input correctly but doesn't fail (it fails when zookeeper is down). There's nothing we can do in the healthcheck, unless we implement a complicated mechanism where we scan

[2016-08-18 08:24] ndegory commented on #39
$ sudo docker version
[sudo] password for nicolas:
Client:
 Version:      1.12.0
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   8eab29e
 Built:        Thu Jul 28 21:40:59 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.0
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   8eab29e
 Built:        Thu Jul 28 21:40:59 2016
 OS/Arch:      linux/amd64

I do this on my VM wh

[2016-08-18 11:55] ndegory commented on #22
I have a patch ready, but after a dozen of retries, I'm unable to trigger the issue anymore... I'll keep the patch in case the issue occurs again. Please also pull the latest telegraf image, I've made changes recently.

[2016-08-18 20:49] subfuzion commented on #39
Sounds good; I thought you meant the `--advertise-addr` option wasn't available to you, which is why I asked for your docker version.

If you look at my [sample for setting up a swarm](https://github.com/appcelerator/docker-example-swarm-bootstrap-local/blob/master/bootstrap#L15) that I shared a couple of weeks ago, you'll see that it also uses `--advertise-addr` for essentially the same reason (t

[2016-08-18 20:49] #39 closed, assigned to nobody

[2016-08-18 21:05] subfuzion commented on #22
@ndegory, thanks for your analysis and the updated image. 👍

[2016-08-18 21:06] #22 closed, assigned to freignat91

[2016-08-20 08:11] subfuzion opened #48 "Influx test fails on OS X"
Running the influx test on OS X (Docker for Mac) fails with the following output:

[code]

The test failed on my Mac and on freshly installed Mac. However, it passes on Linux and it passes on the CI build.

[This issue](https://github.com/influxdata/influxdb/issues/6540) indicates that the problem is a mismatch between the client and the server versions. However, I made sure to pull the latest app

[2016-08-20 08:40] subfuzion commented on #48
I reported the issue at the InfluxDB repo: https://github.com/influxdata/influxdb/issues/7184

[2016-08-20 08:43] ndegory commented on #48
Great, now I can ask IT to provide me  with a macbook :)

[2016-08-20 08:49] subfuzion commented on #48
Yes! You should definitely have one. So I also posted to the [influxdb slack channel](https://gophers.slack.com/archives/influxdb/p1471682768001183) ... hopefully someone there can offer some insight also.

[2016-08-23 00:59] subfuzion commented on #11
@bertrand-quenin You're getting very close with the basic log service. Please use the `cmd/amp/cli` package for any CLI-side command helpers; the `api/client` package shouldn't be aware of anything that has to do with parsing command line options (it should simply take parameters that it needs to do its work). Also, you can move the `Logs` function out of `api/client/amp.go` and put it in its own

[2016-08-23 15:38] #15 closed, assigned to nobody

[2016-08-23 15:43] freignat91 commented on #42
LGTM too, but for 'amp build logs appcelerator/amp/xxx, where do you got the xxxx?
For 'amp rebuild', do we need to give more than the project name, so 'amp rebuild appcelerator/amp" for amp?

[2016-08-24 02:29] chrisccoy opened #55 "Grafana Swarm Issue"
I was trying to view the Grafana dashboards, which I have not done in quite sometime, but encountered an issue.

[code]

[2016-08-24 04:39] subfuzion opened #56 "Add amplifier address to client config and amp client --address flag"
Need to make the server address configurable on the client. The CLI should have an option for providing the server's address (amplifier host:port), and this should be saved in the AMP configuration. The default should be `localhost:50101`). Commands (such as [this](https://github.com/appcelerator/amp/pull/51/files#diff-bcd02246209d4e0d544459f5037c25d0R33)) should use the AMP configuration to get t

[2016-08-24 05:16] ndegory commented on #55
@chrisccoy the configuration (datasources and dashboards) is downloaded from github, your container doesn't seem to have internet access, so it skips this phase.
If we want to cover this use case (no internet access) then we'll have to find another way to load dynamically the configuration.

[2016-08-24 06:25] chrisccoy commented on #55
@ndegory . Ya, my bad, I have to sometimes manually switch my /etc/resolv.conf when I move from work and home. I think the lookup timed out silently. I changed my conf file and restarted swarm and the dashes are there.

[2016-08-24 08:01] subfuzion commented on #55
@ndegory I'm concerned about this scenario and thinking maybe we should just make sure the configurations are added to the images instead of dynamically loaded. Do you have any other thoughts on how to mitigate the issue when there is a connectivity issue with GitHub?

[2016-08-24 08:08] ndegory opened #59 "netstat metrics from telemetry workers appeared in influxdb"
Main issue is that when the Kafka input fails, the telemetry worker doesn't exit, because there's at least one input that is working correctly. the netstat plugin (enabled by default in the image) should be explicitely removed from the telemetry worker.

[2016-08-24 08:13] #59 closed, assigned to ndegory

[2016-08-24 08:18] ndegory commented on #55
@subfuzion  The idea behind the downloadable dashboards and datasources is that it allows to have a generic image (can be public), and that we don't have to rebuild the grafana image (takes 20 min) each time we have a change on a dashboard.
The original idea was to have a config container running on each node and mount the config volume in the grafana (or other) containers. It worked with docker-c

[2016-08-24 10:43] subfuzion commented on #55
@ndegory I understand, and it's definitely a good optimization. I just wonder if it still doesn't make sense to make sure we COPY a basic configuration to be on the safe side? But I guess this is going to be a rare situation not worth spinning our wheels too much on right now. This wasn't a case of GitHub being down (GitHub's CDN is pretty reliable). I'll go ahead and re-close. Thanks.

[2016-08-24 10:43] #55 closed, assigned to chrisccoy

[2016-08-24 10:54] subfuzion commented on #15
@freignat91 I wasn't finished reviewing! Sorry, I know it's been taking a while! It's ok ... I'll finish reviewing and re-open this if necessary. :p

[2016-08-24 11:06] subfuzion commented on #29
As a follow-up to this issue, we have been able to resolve the pain points through the use of flags that don't add the submodule refs, but source instead. The Makefile commands (`make install-deps` and `make update-deps`) are provided as helpers.

[2016-08-24 18:51] generalhenry commented on #42
@freignat91 the easiest place to get the `<owner>/<repo>/<sha>` is to run a `amp build listbuilds <owner>/<repo> -q` which will list the builds in the right format

[2016-08-24 20:27] subfuzion commented on #42
@generalhenry Looking very good. Need a command to start a build for `appcelerator/amp`.

[2016-08-24 20:32] subfuzion commented on #42
@generalhenry nvm, apparently those are commitish SHAs. I'll try to do it with `rebuild`.

However, I think something like the following would be very useful commands:

[code]

[2016-08-24 20:33] subfuzion commented on #42
Hmm this doesn't work:

[code]

[2016-08-24 21:04] generalhenry commented on #42
Yeah rebuild checks for the build's existence, I could make it not do that, but I'd rather not mess with the semantics.

How about `amp build newbuild appcelerator/amp/c4015d02fbc60583a4cd82187eb99d3aac3b36e4` which does the same thing as rebuild but with the inverse existence check.

Alternatively it could be `amp build trigger appcelerator/amp/c4015d02fbc60583a4cd82187eb99d3aac3b36e4` which does

[2016-08-24 21:34] subfuzion commented on #42
Honestly, I'm not crazy about the semantics actually and want to revisit it, but don't want to bikeshed over it at the moment. I'm happy with the evolving functionality, and that's the important thing for now.

[2016-08-24 21:51] subfuzion commented on #42
Yeah, `trigger` would essentially be the CLI interface to correspond to what I basically had in mind with the trigger endpoint I asked for [here](https://github.com/appcelerator/amp-build/issues/4), ie, something a user can request anytime regardless of whether there is an existing build. I do see value in allowing the user to also be able to specify in addition to commits the branch itself (which

[2016-08-25 06:40] subfuzion commented on #48
Resolved. It was coincidental that the issue manifested  on two machines that happened to be running Docker for Mac. There was in fact a version mismatch between the client and the server depending on whether or not the client package was in sync with the repo's server image. We should not pull `latest` from the swarm script, but pull explicitly tagged versions instead so that any mismatch is a bi

[2016-08-25 06:40] #48 closed, assigned to nobody

[2016-08-25 14:14] ndegory commented on #48
@subfuzion I think we should do the same with the TICK images, instead of latest we should use the name of the branch. Right now we have influxdb-0.13 and influxdb-1.0, telegraf-0.13 and telegraf-1.0, kapacitor-0.13 and kapacitor-1.0.

[2016-08-25 16:27] bquenin opened #69 "Kafka is not reachable from amplifier"
Amplifier is connecting to kafka through localhost:9092.
However, this hostname is used only for the first connection to kafka. On this first call, kafka gives its own hostname to the client (amplifier).
The problem is that the hostname given by kafka (which is actually the kafka container short id) is not reachable from amplifier because it's not part of amp-swarm network.

Possible fixes:
- Runn

[2016-08-25 16:56] subfuzion opened #70 "Investigate telegraf worker connection with kafka"
Telegraf occasionally doesn't connect to kafka, which means logs aren't produced. telemetry-worker can say that it's up and healthy yet not have successfully connected to kafka. We probably need a healthcheck for our telegraf image that actually checks to see if it can connect to kafka, and if not, exit with an error so that telegraf is correctly reported as unhealthy. This will cause telegraf to

[2016-08-25 17:02] ndegory commented on #70
@subfuzion I wasn't able to reproduce this issue with swarm start --min, do you have a specific test to make it happen?

[2016-08-25 19:07] chrisccoy opened #71 "Vendor dependency Issue after fresh clone"
I performed a fresh clone of amp and tried to perform "make install"

[code]

tried "make install-deps" but did not resolve:

[code]

temporary workaround is to perform:
`glide install`
then
`make install`

[2016-08-25 19:38] subfuzion commented on #71
If you run glide, use `glide install -s -u -v`. The best workaround is this:

[code]

If that doesn't work, then also remove `glide.lock`:

[code]

If everything worked to this point, then also run tests (`make test`) and submit a PR for the update.

[2016-08-25 20:18] chrisccoy commented on #71
Manually Closing. PR #72 seems to have resolved

[2016-08-25 20:18] #71 closed, assigned to nobody

[2016-08-25 22:03] subfuzion commented on #69
@bertrand-quenin Great write up of the problem, thanks.

Unfortunately the following doesn't work for Docker for Mac:

[code]

On Docker for Mac these files are stored in the VM located here:

[code]

But since it looks like the hostname is just the short-id anyway, I think this will work (at least for our temporary workaround right now):

[code]

(The funky filter is to eliminate `kafka-manager`

[2016-08-26 03:20] subfuzion commented on #70
@ndegory It doesn't happen all the time, but it is frequent enough and everyone of us has experienced this. The only recourse for us is to restart the swarm. You can talk to @freignat91 about it; maybe he can try to reproduce for you in the Puteaux office.

[2016-08-26 03:26] subfuzion commented on #69
We need a better interim strategy; asking everyone to help brainstorm on this. There must be some way (I hope) to set the hostname that kafka advertises to clients, whether a configuration, environment variable, flag, etc. That would mean there is some way we can customize the image to make it so we can set it dynamically (if it's a static configuration setting somewhere). Then we can make kafka a

[2016-08-26 03:32] subfuzion commented on #69
It seems like `advertised.listeners` might be what we're looking for in the Broker Configs [docs](http://kafka.apache.org/documentation.html#brokerconfigs)... would it be possible to make it advertise `localhost` for local development instead of the container hostname?

@bertrand-quenin @ndegory Can you two investigate further and see if you can come up with a strategy?

[2016-08-26 04:19] subfuzion commented on #69
I suppose this is where kafka updates and then gets the server address for subsequent requests on the client broker:

https://github.com/Shopify/sarama/blob/master/broker.go#L83
https://github.com/Shopify/sarama/blob/master/broker.go#L161

[2016-08-26 06:25] bquenin commented on #69
@subfuzion Actually, I already tried this solution. It effectively makes kafka reachable from amplifier by advertising `localhost`. The problem is that other components (telegraf, amp-log-worker) are trying to reach kafka on localhost as well ... making them fail miserably.

[2016-08-26 08:13] subfuzion commented on #69
@bertrand-quenin Unfortunately, that makes perfect sense. Please brainstorm with @ndegory to find a solution. I also asked for help with this on the Docker Captains slack channel, so hopefully will hear back from someone soon. Thanks!

[2016-08-26 12:15] subfuzion commented on #69
We may have to create a script that can take the output of `docker ps --filter "name=kafka\." --format '{{ .ID }}'` and update the entry for `127.0.0.1` in /etc/hosts. We can call the script from the swarm script when we start up the swarm. @ndegory, we're all slammed preparing for our deadline on Monday; is there any way you can take this on for us?

[2016-08-26 12:40] ndegory commented on #69
I'll take a look

[2016-08-26 12:46] ndegory opened #78 "Zookeeper and Kafka images include an Oracle JDK"
appcelerator/zookeeper and appcelerator/kafka images are based on https://hub.docker.com/r/anapsix/alpine-java/~/dockerfile/, which breaks the Oracle license terms.
see http://blog.takipi.com/running-java-on-docker-youre-breaking-the-law/ for details

[2016-08-26 12:50] ndegory opened #79 "Update Zookeeper to latest stable version (3.4.8)"
Current zookeeper image is version 3.4.6, there's been many issues fixed since this version: http://zookeeper.apache.org/doc/r3.4.8/releasenotes.html

[2016-08-26 13:55] ndegory opened #81 "Kafka / Kapacitor port conflict"
Both Kafka and Kapacitor declare the same port (9092), resulting in conflicts when both services run on same node

[2016-08-26 16:56] ndegory commented on #70
reproduced with latest version of zookeeper and kafka, issue is still there.

[2016-08-26 19:38] subfuzion commented on #81
@ndegory @chrisccoy I don't know that we will be able to demo alerts on Monday anyway. Our choice right now is to not run Kapacitor if the config can't be updated before then. In any case, we will eventually need to update Kapacitor's config to use a different port, even if we disable it for now.

[2016-08-26 19:40] chrisccoy commented on #81
@ndegory were you able to confirm that this will fix the intermittent missing measurement issue?

[2016-08-26 21:37] ndegory commented on #81
@chrisccoy I'm not sure it's related.
@subfuzion we still have to work on how the alerts work, it's not yet demo ready, so I guess for Monday it's better to remove Kapacitor from the list of services.
I don't think mapping the port to a different one for Kapacitor will work, because Kapacitor subscribes to InfluxDB with its hostname and port, which I guess are the ones it knows, from the container

[2016-08-26 22:24] ndegory commented on #70
I'm now able to reproduce the issue in a repeatable way, and I'm trying to patch telegraf to make it fail when the kafka input is not properly initialized.

[2016-08-26 22:38] subfuzion commented on #69
@bertrand-quenin Now that I think about it, can't we override the address in the client after it gets updated with the server's metadata, just to ensure we're using the address we want to use? After all, in the real swarm we would want to use the actual DNS name (`kafka`) anyway since swarm is load balancing for us. There isn't some special requirement for affinity to a particular server in the cl

[2016-08-27 00:13] chrisccoy opened #83 "Telegraf net plugin not enabled"
I just reviewed the config for telegraf-agent and  noticed the the "net" plugin is not listed. I think we should add this to the list of measurements. The netstat plugin is enabled, but not net.
Netstat does not provide a lot of information that is useful. For the demo, I am hoping to be able to stream back byte related I/O information, which is populated via the net plugin

[2016-08-27 06:27] ndegory commented on #83
@chrisccoy , you mean the system wide net plugin (as opposed to the docker_container_net metric, already part of the unit tests on the telegraf image, already enabled)?

[2016-08-27 08:53] ndegory opened #86 "Update Kafka image to latest stable version (10.0.0.1)"
current image is 10.0.0.0, many fixes in the minor point update:
https://archive.apache.org/dist/kafka/0.10.0.1/RELEASE_NOTES.html

[2016-08-27 13:08] ndegory commented on #70
Workaround now available in Docker hub (tag telegraf-0.13)

[2016-08-27 16:59] chrisccoy commented on #83
yes,  that is correct.

[2016-08-27 16:59] chrisccoy commented on #83
closing this for now.

[2016-08-27 16:59] #83 closed, assigned to chrisccoy

[2016-08-27 18:12] subfuzion commented on #69
Thanks for the [PR](https://github.com/appcelerator/amp/pull/82), @ndegory. It's working well for now. I'll leave this issue open while we consider our long term strategy for this and similar/related issues.

[2016-08-27 19:16] subfuzion opened #88 "advertise_service error modifying /etc/hosts"
Relates to #69 #82

I closed #82 prematurely. After stopping the swarm, I get the following error:

[code]

If I modify the `advertise_service` to use `127.0.0.1`, I get the error when starting the swarm.

The script should work with `127.0.0.1` (it should default to this and perhaps be settable with another script parameter, ie $2):

[code]

[2016-08-27 19:37] ndegory commented on #88
@subfusion: can you please cat your /etc/hosts?

[2016-08-27 23:08] chrisccoy commented on #88
I am seeing errors when I run:
`./swarm monitor`
`sed: couldn't open temporary file /etc/sedxq4SUL: Permission denied`
Also this one:
`has been added to /etc/hostshttp:///var/run/docker.sock/v1.24/containers/json?filters={"name":{"kafka\\.":true}}: EOF`

[2016-08-27 23:26] subfuzion commented on #88
@chrisccoy Because `advertise_host` needs to access `/etc/hosts`, use sudo when starting and stopping the swarm:  `sudo ./swarm start --min` and `sudo ./swarm stop`). You're seeing the permission denied error coincidentally after running `./swarm monitor` because `advertise_host` is still running in the background, but that's where the error came from.

Not sure about the second error. That looks

[2016-08-27 23:29] subfuzion commented on #88
@ndegory Per your request, my `/etc/hosts` file is fine and as long as I leave your default of `127.0.1.1`, this is what it looks like after starting the swarm:

[code]

The last entry will be removed when I stop the swarm.

The error I described occurs when I update the script to use `127.0.0.1`. Keep in mind that OS X (and maybe Windows, although I don't know) don't use `127.0.1.1` as a loopback

[2016-08-28 00:19] subfuzion commented on #78
@ndegory: thanks for pointing out the issue.

I was mulling over switching to [NATS](http://nats.io/) and @bertrand-quenin also mentioned it a few days ago on slack. This just adds another argument for eliminating anything jvm-based from our platform, and will probably make this a priority in the next sprint. I'm pretty sure as long as we agree to the license, build our own images, and host them o

[2016-08-28 00:34] subfuzion commented on #70
@ndegory Awesome, thanks for this. This is good for now, at least until we switch away from Kafka! ;)

[2016-08-28 00:37] #70 closed, assigned to nobody

[2016-08-28 05:00] subfuzion opened #91 "Update Makefile"
Finish dockerizing Makefiles so no dependencies need to be installed on the client just to build.

Remaining dependencies:
- [x] Go
- [x] glide
- [x] golint
- [x] make

[2016-08-28 09:41] subfusion commented on #88
Hi, I believe you likely have the wrong subfusion here.

On Sun, Aug 28, 2016 at 12:29 AM, Tony Pujals notifications@github.com
wrote:

[2016-08-28 09:45] subfuzion commented on #88
@ndegory Did you try to mention me? Looks like someone must have mentioned @ subfusion, not @subfuzion ...

[2016-08-28 10:35] ndegory commented on #88
oops, sorry for the typo in the username.
@subfuzion : didn't know that it was Debian specific, I thought it was particularly handy, but if it's not generic I'll remove it.

[2016-08-28 21:54] subfuzion opened #94 "amp build TestProjectCreate fails"
[code]

[2016-08-28 22:46] subfuzion commented on #88
Thanks @ndegory 👍

[2016-08-28 22:46] #88 closed, assigned to nobody

[2016-08-28 22:50] subfuzion commented on #86
@ndegory thanks. So is the [commit](https://github.com/appcelerator/docker-kafka/commit/1bb575d5dc14429cd57154d2c85b4553c6cb0aa7) what [latest](https://hub.docker.com/r/appcelerator/kafka/tags/) is now? We should lock down the [tag](https://github.com/appcelerator/amp/blob/master/swarm#L24) (like we did for the tick stack) and continue that process for all our dependencies now.

[2016-08-28 22:51] subfuzion commented on #79
@ndegory Same comment/recommendation as [here](https://github.com/appcelerator/amp/issues/86#issuecomment-243004513). Thanks.

[2016-08-28 22:59] subfuzion commented on #78
@ndegory We will evaluate [NATS Streaming](http://nats.io/documentation/streaming/nats-streaming-intro/) as the alternative. I'm in favor and pretty comfortable with the idea of switching based on early looks, but we need to ensure we evaluate message durability using [file storage](https://github.com/nats-io/nats-streaming-server#user-content-file-store) and feel as comfortable with it as with ka

[2016-08-29 06:14] ndegory commented on #78
@subfuzion The 2 (open) PR linked to this issue replace the Oracle JDK by an openJDK JRE.
So it's not a blocker anymore (once accepted), but if we can get rid of Java all together, I won't complain ;)

[2016-08-29 06:17] ndegory commented on #86
Not latest, I didn't want to push it until the PR is accepted.
But the PR pushed a tag amp-issue-86. There's no unit test on this repo so I didn't want to tag it with a version on Docker hub.
Update: tag amp-issue-86 has also been copied to 10.0.0.1, and I made a copy of latest to 10.0.0.0.

[2016-08-29 06:19] ndegory commented on #79
PR still open, so not yet a `latest` image.
But unit tests are OK, so I pushed a tag `3.4.8`
I'll push a tag `3.4.6` from before the change, but I'll leave the tag `latest` to the merge of the PR.

[2016-08-29 07:10] freignat91 opened #97 "Telegraf: it misses some io stats data"
regarding Influx data, for the same timestamp and container_id, it misses some data in docker_container_blkio
It seems related to telegraf

[2016-08-29 07:29] freignat91 opened #98 "replace nginx by haproxy"
Add new service amp haproxy service having the same behavior than the current nginx service
and remove nginx amp service

[2016-08-29 07:34] freignat91 commented on #98
created repo: https://github.com/appcelerator/docker-haproxy
to create appcelerator/haproxy image having same behavior than appcelerator/amp

[2016-08-29 07:54] ndegory commented on #97
I don't think it should be considered as a bug.
I had a look at docker stats (uses the same data as the docker input plugin of telegraf), some containers don't show any IO (they don't have to).
When a container does not have IO, the docker_container_blkio metric is not sent.
On all the containers of the stack I guess some of them don't have IO, which explains the difference of number of lines betw

[2016-08-29 09:04] freignat91 opened #99 "Create proxy service for mapping public service IPs"
An API to talk to an "ha proxy service" that can be used to dynamically configure a reverse proxy for services that we want to map to a public port

[2016-08-29 13:18] subfuzion commented on #99
You are too fast! (In a good way!) 😄  When I talked to you about this on slack, I just wanted to start a brainstorming process and think through the design, but I didn't want to distract you before today's deadline! I should know better. Thanks, Francois! 👍

[2016-08-29 14:51] subfuzion commented on #97
I agree, and showing `0 B` for block I/O is reasonable. Also note that `docker stats` will show `--` when data has not been received in time, vs. `0 B` (or whatever the appropriate unit is) when a specific metric is empty or missing.

[2016-08-29 15:09] subfuzion commented on #98
Thanks @freignat91. Unfortunately, it looks like the [Docker Hub builds](https://hub.docker.com/r/appcelerator/haproxy/builds) are failing.

[2016-08-30 14:44] freignat91 commented on #98
Yes, it missed the Docker hub build key. It's ok now, the image is built.

[2016-08-30 14:48] freignat91 commented on #97
ok, I close the issue

[2016-08-30 14:48] #97 closed, assigned to nobody

[2016-08-30 15:03] freignat91 commented on #99
To start discussion, I reported there the sort discussion we had on slack:

Tony Pujals [2:30 AM]
if you have some time to put some thought into this today, there is something that would be awesome: an ha proxy service ... in other words, an API to talk to an "ha proxy service" that can be used to dynamically configure a reverse proxy for services that we want to map to a public port

FR:
About HA

[2016-08-30 15:41] ndegory commented on #99
@freignat91 did you get a look at https://github.com/docker/dockercloud-haproxy ? Maybe we can reuse part of it.

[2016-08-30 16:10] subfuzion commented on #78
@bertrand-quenin Is already working on prototyping a switch to NATS. 👍

[2016-08-30 16:45] ndegory opened #102 "Add NATS input and output options to the telegraf image"
the goal is to be able to substitute NATS for Kafka, for the metrics it means having an input for telemetry worker and an output for telegraf-agent.

[2016-08-30 20:43] subfuzion commented on #99
@ndegory Very good suggestion.

[2016-08-31 04:33] freignat91 opened #105 "Create amp service to manage project"
We need to define that is a project, a set of user services as a stack?
or more than a stack?

[2016-08-31 05:19] chrisccoy commented on #102
All seems good, but I have not found a good output solution for how to go from `telegraf->NATS`

https://github.com/influxdata/telegraf/issues/148

[2016-08-31 06:56] subfuzion commented on #105
I'm working on this one, @freignat91. I put the branch on hold for the demo and because I'm still dockerizing the makefile. One step to go.

[2016-08-31 09:49] subfuzion commented on #91
With the #108, the majority of developer tasks can now be accomplished with a dockerized toolchain. A developer needs to have Docker installed, and currently also needs to have `make` installed. Currently the server (`amplifier`) and the CLI (`amp`) can now be built without installing Go. Go is still needed, however, to run tests and for a few other tools, like `gofmt`.

[2016-08-31 09:55] subfuzion commented on #79
👍

[2016-08-31 09:55] #79 closed, assigned to ndegory

[2016-08-31 09:55] subfuzion commented on #86
👍

[2016-08-31 09:55] #86 closed, assigned to ndegory

[2016-08-31 10:06] subfuzion opened #110 "Update swarm influx tag"
The Influxdb client package is now on 1.0.0-rc2, as indicated [here](https://github.com/appcelerator/amp/blob/master/glide.yaml#L41). The [swarm script](https://github.com/appcelerator/amp/blob/master/swarm#L12) should be updated to use the correct tag for the corresponding influx image now [`1.0.0-rc2`](https://github.com/influxdata/influxdb/tree/v1.0.0-rc2).

[2016-08-31 11:08] #110 closed, assigned to nobody

[2016-08-31 14:54] freignat91 commented on #69
There is another solution which do not imply to modify /etc/host:
If we have amplifier inside swarm network it works as explains above, but then the issue is that we can't build locally an amplifier image to test.
Except, for the test need, if we modify the amplifier image name 'appcelerator/amp' to 'appcelerator/amp_fr (for instance for me) and modify the swarm file to point on this image name in

[2016-08-31 15:30] freignat91 commented on #99
Yes, i'm looking at it to see the way it works.

[2016-08-31 16:37] subfuzion commented on #11
@bertrand-quenin Thanks for a nice job. I'm going to close this issue now. We can open new issues for specific enhancements, etc.

[2016-08-31 16:37] #11 closed, assigned to nobody

[2016-08-31 16:39] subfuzion commented on #10
Basic implementation is in place. Closing this issue now; we can open new ones for specific enhancements, etc.

[2016-08-31 16:39] #10 closed, assigned to subfuzion

[2016-08-31 16:51] subfuzion commented on #12
@freignat91 Nice work, thanks. I'm going to close this issue now that the basic implementation is working well. We can open new issues for ongoing enhancements, etc.

[2016-08-31 16:51] #12 closed, assigned to nobody

[2016-08-31 17:02] subfuzion commented on #42
I'm going to close this issue now. We can open new ones for continuing enhancements.

[2016-08-31 17:02] #42 closed, assigned to generalhenry

[2016-09-01 10:08] bquenin commented on #69
Yes, it's an alternate solution to this issue. It can work as well.

[2016-09-01 10:10] subfuzion commented on #69
@freignat91 @bertrand-quenin @ndegory Since I prefer that we switch to NATS, I'm not particularly concerned about the long term resolution for this particular issue at this point. However, it is definitely the case that `amplifier` will eventually expose its services on an overlay network (for example, `amp-swarm-public`), and it will also overlap with the backbone network (`amp-swarm`) to communi

[2016-09-01 10:17] subfuzion opened #112 "AMP networking"
`amplifier` should expose its services on an overlay network (for example, `amp-public`), that is distinct from the backbone network (`amp-swarm`). `haproxy` should be incorporated for mapping exposed IPs to consumers, such as the CLI.

[2016-09-01 10:24] subfuzion opened #113 "Switch from Kafka to NATS Streaming"
Replace message queuing infrastructure with NATS streaming service. This will require:
- [ ] Updating agents that push messages to queue.
  - [x] ampagent (appcelerator/amp-agent#2)
  - [ ] telegrafagent (this should be done as a plugin)
- [ ] Updating workers that pull from the queue to update
  - [x] amplogworker (appcelerator/amp-log-worker#10)
  - [ ] telemetryworker
- [ ] rpc streaming servic

[2016-09-01 10:30] subfuzion commented on #98
👍

[2016-09-01 10:30] #98 closed, assigned to freignat91

[2016-09-01 10:34] subfuzion commented on #81
@chrisccoy @ndegory We have a lot of issues in flight at the moment. I'm going to deemphasize the priority for alerts for the time being until after the Limited Preview.

[2016-09-01 10:36] subfuzion commented on #78
Since we're switching to NATS, this is no longer an issue for us.

[2016-09-01 10:36] #78 closed, assigned to ndegory

[2016-09-01 10:37] ndegory commented on #81
@subfuzion  we have another option, we can use dynamically allocated UDP ports on Kapacitor for the InfluxDB subscriptions, it works with docker-compose (ports are not exposed, but that's not an issue), I hope it works too in Swarm, I'll do a test...

[2016-09-01 10:38] subfuzion commented on #102
@chrisccoy Focus on implementing our own telegraf plugin. This can be shared with the community as an open source contribution.

[2016-09-01 10:38] ndegory commented on #78
anyway, it's fixed (not in latest tags of the images, as the PR were not accepted), amp swarm already uses the new images.

[2016-09-01 10:39] subfuzion commented on #102
This issue is a sub-task of #113

[2016-09-01 10:55] subfuzion commented on #69
It's interesting to be aware of how clusters and node discovery impact other services for client communication as well. For example, the etcd client when etcd is behind a load-balanced cluster: https://github.com/hashicorp/vault/pull/921.

[2016-09-01 10:59] subfuzion commented on #69
Since we have a working solution in place for now thanks to @ndegory and our priority has shifted to transitioning to NATS (#113), I'm going to close this.

[2016-09-01 10:59] #69 closed, assigned to nobody

[2016-09-01 16:08] subfuzion commented on #113
@bertrand-quenin is currently working on amp-log-worker.

[2016-09-01 16:12] subfuzion commented on #113
@chrisccoy researched NATS and is following this issue https://github.com/influxdata/telegraf/pull/1697 for the telegraf -> NATS output plugin.

[2016-09-01 16:42] subfuzion commented on #113
@bertrand-quenin @chrisccoy @ndegory @freignat91 As I mentioned on slack yesterday, I'm going to relax the requirement for file store for guaranteed delivery for the alpha. We can focus on that as part of our productionizing/hardening efforts subsequently. @ndegory If you have the bandwidth to research and evaluate, that's great, but it's not a priority for the moment.

[2016-09-01 19:01] chrisccoy commented on #113
As a quick update, I confirmed that when using the image `appcelerator/nats-streaming:0.2` from `nats` branch, the basic client works with the streaming server without changes. I think @ndegory mentioned this was possible today in the sync, but I was able to confirm. The streaming server embeds the core server, so it works like a charm:
https://github.com/nats-io/nats-streaming-server#running

I a

[2016-09-02 04:52] chrisccoy commented on #113
Next steps are to integrate with influxdb, but, so far, NATS producer and consumer are working with telegraf, which is encouraging.

[2016-09-02 07:51] freignat91 opened #120 "Haproxy auto update prototype"
Prototype of one possible solution:
Use an embeeded controller to have Haproxy configuration updated on ETCD services keys update in push mode (no polling),
Be able this way to declare any user services as accessible from outside or not
It also should allow to load-balance on several container instances of the services using VIP.

[2016-09-02 12:07] freignat91 opened #121 "HAProxy: move from reverse proxy using url to reverse proxy using host"
#121

For now we use url to reverse proxy services as:
http;//my-haproxy-entrypoint / myservice / myservice-rest-url
where:
- my-haproxy-entrypoint is the address of the haProxy (or a loadbalancer on several haproxy)
- myservice is the name of the service to reach
- myservice-rest-url : the url we want to be executed by the service 'myservice'

The reverse proxy using host is:

http://my-haproxy-e

[2016-09-02 13:24] bquenin commented on #113
Nats prototype for logging is done. Instruction on how to test is available in #123 PR.

[2016-09-02 13:29] bquenin opened #124 "DockerHub automated builds aren't working for the project 'amp-agent'"
The automated builds aren't working. Please check https://hub.docker.com/r/appcelerator/amp-agent/builds/

I didn't find a way to fix the problem. Even deleting the project and recreating it doesn't work.

[2016-09-02 15:26] ndegory opened #126 "AMP image needs Docker 1.12"
AMP image installs Docker 1.11 from default Alpine package repository, see Dockerfile:

[TODO apk installs the wrong version of docker (1.11.1-r0), need 1.12](https://github.com/appcelerator/amp/blob/346879d205105f12ce6cd5ea4dd9065a41dd7320/Dockerfile#L3-L4)

[2016-09-02 16:13] freignat91 commented on #120
video sent by email to demonstrate the solution
For now i didn't push modifications waiting for consensus/decision.
If it's ok, i'll create a PR on docker-haproxy project

I looked at dockercloud/haproxy and got some idea from there, especially the way HAProxy reload it's configuration, but i didn't found very usable way of working out of docker cloud for now.

[2016-09-02 16:16] freignat91 commented on #112
ok, so we need to have a REST proxy to handle the grpc call upstreams
So HAPRoxy will work on two network and the http requests for amplifier will be routed as normal one through the REST Proxy.
It is what you want?

[2016-09-02 19:12] freignat91 commented on #120
Another way to update HAProxy, this time, without ETCD, but still with a embedded controller, is that the controller requests services list using swarm api and update HAProxy accordingly with a given service label to know if a service as to be 'external' or not
The cons is that it's a pull mode and so it needs to request docker swarm api, asking service list on regular basis and it works only on m

[2016-09-02 19:44] subfuzion commented on #120
Once we're done with our service API, all requests will go through it. The plan is to use etcd to store all stateful information, including publish settings because a developer should be able to use the CLI or website to review (and modify) settings. Since etcd is our global system of record for state, I don't think that bypassing it and polling the swarm directly is a better approach in the large

[2016-09-02 19:46] freignat91 opened #129 "Remove all external port in service definition"
Using Docker 1.12 we don't need anymore to have ports externally exposed for our infrastructure services, all the internal communication go though VIP using internal ports.
The only external port we need is the HAProxy one (80) to make HAProxy usable from outside and from any node. All the other services, if needed can be reversed proxy in order to be accessible from outside using the port 80.
We

[2016-09-02 19:47] freignat91 commented on #120
ok, i prefer too.

[2016-09-03 01:49] subfuzion commented on #126
Thanks for updating, @ndegory. I had just noticed it when I left that comment for a different PR. Appreciated 👍

[2016-09-03 01:49] #126 closed, assigned to nobody

[2016-09-03 01:51] subfuzion commented on #126
@ndegory by the way, if you put `Closes #126` (or `Fixes #126`, as appropriate) in your PR's description instead of just the issue number alone, then GitHub will automatically close the issue when the PR gets merged. It's very convenient.

[2016-09-03 02:08] subfuzion commented on #126
For anyone else interested, you can search for alpine packages online, like [docker](https://pkgs.alpinelinux.org/packages?name=docker&branch=&repo=&arch=&maintainer=) and view package [details](https://pkgs.alpinelinux.org/package/edge/community/x86_64/docker).

[2016-09-03 08:24] freignat91 commented on #99
Prototype #120 done
Waiting for consensus/decision to continue

[2016-09-03 08:28] freignat91 commented on #105
For what i understood from our discussions until now, a project is:
- a set of services
- a set of networks
  for instance we can have 'frontend' and 'backend' networks with several services inside each.

[2016-09-04 00:40] subfuzion opened #132 "Update to latest glide, update vendor dependencies and add debugging support"
Glide `0.12.x` offers performance improvements when installing/updating the vendor dependency graph based on caching.
- As part of containerizing the developer toolchain, `make install-deps` runs Glide in a container. Update [appcelerator/gotools](https://github.com/appcelerator/docker-gotools) to the latest version of Glide
- Update the [amp](https://github.com/appcelerator/amp) project dependenc

[2016-09-04 00:48] subfuzion opened #133 "Fix file owner on Linux when running containerized tools on mounted volume"
@chrisccoy identified an issue that occurs on Linux (but not Docker for Mac): after running `make install-deps`, which runs glide in a container as root to update vendor dependencies by mounting the project directory, files are owned by `root:root`.

In fact, this error occurs for any files generated by containerized tools when writing on the mounted volume. This causes a variety of issues since t

[2016-09-04 00:59] subfuzion opened #134 "Dockerfile doesn't build"
The Dockerfile currently fails to build due to issues with vendor dependencies, which prevents CI builds from succeeding.

[2016-09-04 17:50] chrisccoy opened #135 "Potential Issue with Root level access to volumes"
Here's a simple test that I am able to perform:

[code]

This appears to essentially give one root level access to any volume mounted in a container. It seems we need a careful examination of how to avoid untoward usage.

[2016-09-04 18:57] subfuzion commented on #135
As I commented on #131, I can only imagine right now that this is because you're a member of the `docker` group on your system. If that were not the case, this would be a huge security vulnerability. But as a member of the `docker` group, you don't need to use `sudo` to execute commands that the docker engine runs as `root`. You should easily be able to verify this by removing yourself from the `d

[2016-09-04 23:37] #134 closed, assigned to subfuzion

[2016-09-04 23:49] #132 closed, assigned to subfuzion

[2016-09-05 10:21] ndegory opened #141 "telemetry messages loss"
metrics gathered by telegraf agents are sent to the nats streaming server, and the telegraf worker consumes and pushes them to influxdb.
We notice a loss of messages.
The UI of the nats server show an equal number of inputs and outputs for the metrics messages, but the telegraf consumer acknowledges much less messages than expected.

[2016-09-05 10:27] ndegory commented on #141
No error message in telegraf consumer logs.
Changes on the data collection interval doesn't have any effect on the issue.

[2016-09-05 12:13] ndegory commented on #141
unit tests added to telegraf: ed65d07806db4cbb0623c9b6cb296313990d3623, send 25 messages, and expect 25 messages.
the unit test works for kafka, but fails for nats (from 1 to 7 messages only).

[2016-09-05 12:24] ndegory commented on #141
I did the test with the nats server instead of the nats-streaming server, same issue.

[2016-09-05 14:29] bquenin commented on #81
Obsoleted by #113

[2016-09-05 14:29] #81 closed, assigned to ndegory

[2016-09-05 14:44] ndegory commented on #141
unit test on telegraf nats consumer (outside of docker image) does not experience the same bug

[2016-09-05 15:27] ndegory commented on #141
instead of the telegraf nats output I tried to send data directly to nats. The telegraf nats input was then able to read all the packets.

[2016-09-06 01:02] subfuzion commented on #133
Unfortunately, #131 doesn't fix the issue, as observed here: https://github.com/appcelerator/amp/pull/138#issuecomment-244827193

Reopening for further investigation.

[2016-09-06 06:31] freignat91 commented on #112
ok, i'm trying first to reverse proxy the grpc connection it-self, so in order:
- create networt amp-public
- create service amplifier using amp-public
- add HAProxy setting to reverse-proxy amplifier grpc connections

[2016-09-06 11:11] subfuzion commented on #113
I mentioned that I was willing to relax the requirement for guaranteed delivery for now [above](https://github.com/appcelerator/amp/issues/113#issuecomment-244138687) (although I wasn't expecting pathological behavior) as noted [here](https://github.com/appcelerator/amp/issues/141).

I have multiple concerns. One is that I didn't want to _increase_ operational complexity with multiple message stre

[2016-09-06 11:23] subfuzion commented on #141
@ndegory Helpful analysis so far with your last two comments, thanks.

@bertrand-quenin @freignat91 I don't think we should have reverted (#143) just yet until we had tested at-least-once delivery messaging semantics. We can live with messaging loss for a bit while analyzing and also checking on the NATS slack channel and/or opening an issue on their GitHub repo.

See the rest of my overall though

[2016-09-06 11:38] bquenin commented on #141
I don't think there's any message loss from nats itself. I think the telegraf plugins are not configured to work the way we want.
For log messages, there are no issues.

[2016-09-06 14:32] subfuzion commented on #141
@bertrand-quenin I agree with that assessment. I do have overarching concerns about NATS Streaming in general, which I mention in https://github.com/appcelerator/amp/issues/113#issuecomment-244919736, but I also don't want to foreclose on getting things working and doing a fair assessment prematurely either.  Not sure we needed to revert (#143) so quickly -- we barely gave it a chance.

But as we'

[2016-09-06 15:40] ndegory commented on #141
patch https://patch-diff.githubusercontent.com/raw/influxdata/telegraf/pull/1697.patch (as of Sept 6th) applied on telegraf 1.0.0-rc1, same test, same result:

[2016-09-06 15:44] freignat91 commented on #112
Created a branch "haproxy".
tested ok using amp localhost
tested ok with amp on aws and amp command on local machine.
i will soon create a PR

[2016-09-06 15:46] ndegory commented on #141
To check if the issue is related to the input or the output plugin, I did 2 separated tests as follow:
50 msg in TCP listener input -> telegraf -> nats output plugin -> NATS -> nats-sub sample client
50 msg in nats-pub sample client -> NATS -> nats input plugin -> telegraf -> file output plugin
Both are working fine, the messages are received on the other side.

[2016-09-07 08:54] freignat91 commented on #129
After discusion, if we want to continue to be able to use amplifier in local mode and not in service only we need the -p
so i close this issues.

[2016-09-07 08:54] #129 closed, assigned to nobody

[2016-09-07 08:55] bquenin commented on #141
We can probably close this issue now.

[2016-09-07 08:55] bquenin commented on #113
We decided to revert to Kafka for the time being.

[2016-09-07 08:55] #113 closed, assigned to nobody

[2016-09-07 08:56] bquenin commented on #102
We can probably close this issue.

[2016-09-07 14:35] freignat91 opened #147 "Infrastructure service to auto-start services"
We could have a special infrastructure service, let's say call 'autostart', which could be the HAProxy default service.
So when HAProxy for a given connection doesn't found a service, it sends the call to the autostart service which gets the service name, verifies that the service is allowed to auto-start using ETCD and starts the service with the received url/body.
This way, we could have user se

[2016-09-07 15:53] ndegory commented on #141
I'd rather keep it open but low priority, as we'll have to eventually fix it.

[2016-09-07 15:54] #102 closed, assigned to ndegory

[2016-09-08 08:58] #112 closed, assigned to nobody

[2016-09-08 08:58] #120 closed, assigned to freignat91

[2016-09-08 08:58] #99 closed, assigned to freignat91

[2016-09-08 09:52] bquenin opened #150 "amp-* go docker images are too fat"
Our go docker images are around 200Mb each, whereas they should be way smaller.

[2016-09-08 10:10] ndegory commented on #150
actually, some of them are more than 500MB, almost a GB.
One way to do it would be to use an image to build and just create a from scratch (or from alpine) with just the go binary built on the previous phase. We would drastically reduce the size of the image.

[2016-09-08 17:50] subfuzion commented on #150
Yes. It's a very simplistic example of this, but that's exactly what I did with [envtpl](https://github.com/subfuzion/envtpl). I build the binary [here](https://github.com/subfuzion/envtpl/blob/master/make.sh), and just copy it to the image [here](https://github.com/subfuzion/envtpl/blob/master/Dockerfile), so the image that you pull is just a basic alpine image, not the heavier golang one just be

[2016-09-09 15:03] bquenin opened #152 "Docker "build from git" feature isn't working with amp repository"
docker can build images from git repository URLs, e.g. `docker build git@github.com:appcelerator/amp.git`.

The problem is that docker clones the repository using a `git clone --recursive URL` command, so that, when u have submodules, they get initialized as right after the clone. `git clone --recursive` walks the entire source tree looking for submodules, by looking at `.git` sub folders.
The fac

[2016-09-09 16:57] freignat91 commented on #121
added update in Haproxy to handle both "host" and "url" reverse proxy
I tested it on my machine using dnsmasq to redirect any *.amplifier.com url to localhost
dnsmasq can be used on any linux machine and mac os.
I update Route53 to have similar behavior on amazon.
It works well and then HAProxy is able to reservce proxy UI as Kibana or Grafana it wasn't able to do using url.
It exists the same kin

[2016-09-09 21:27] #152 closed, assigned to nobody

[2016-09-09 21:32] subfuzion commented on #152
None of all this is necessary. Just need to remove the subprojects (ie, git submodules) and only commit source to vendor. These were introduced by running glide without the vendoring options (no longer necessary with glide 0.12).

[2016-09-10 06:13] subfuzion commented on #135
Closing since this is basically a duplicate of #133. @chrisccoy, go ahead and confirm what happens when you remove yourself from the docker group and just reply in #133. Thanks.

[2016-09-10 06:15] #135 closed, assigned to nobody

[2016-09-13 23:04] generalhenry opened #157 "Define stack yaml format"
Relates to #162

Define a minimal yaml format akin to both [stackfile](https://docs.docker.com/docker-cloud/apps/stack-yaml-reference/) and [composefile](https://docs.docker.com/compose/compose-file/)
- **name**
  - **image**
  - environment
    - key:value
  - labels
  - public
    - name
    - protocol
    - publish_port
    - internal_port
  - replicas (default 1)

example:

[code]

[2016-09-13 23:19] subfuzion commented on #157
We need to indicate whether the port is public or not (default=`false`), ie, publicly mapped/exposed over our reverse proxy service. For example:

[code]

[2016-09-14 00:44] subfuzion commented on #157
Eventually, we will also want to be able to specify overlay networks (eg, `frontend`, `backend`).

[2016-09-14 00:46] subfuzion commented on #157
For environment, make sure to support both forms of environment variable assignment:

[code]

and

[code]

[2016-09-14 01:13] generalhenry commented on #157
For multiple networks etc . . . I think we should punt for now, though we might want to start documenting things we will need.

As for yaml formats, that's what libs are for :)

[2016-09-14 16:23] freignat91 commented on #157
What if there is no port mapping for a given service, the syntax will be for instance;

[code]

?
I need the internal port to update ETCD for HAProxy

[2016-09-14 20:30] generalhenry opened #161 "Parse stack yaml format"
Relates to #162, #157

eg:

[code]

into

[code]

[2016-09-14 20:55] subfuzion commented on #157
Let's use this yaml lib (same as docker):

https://gopkg.in/yaml.v2
https://godoc.org/gopkg.in/yaml.v2

And it doesn't automatically split strings on the `=` delimiter afaik (if it does, that's great); I do explicitly want to ensure we support both formats, ultimately providing a map of env vars.

As far as punting on the network support, we won't want to defer that for too long. By "eventually,"

[2016-09-14 22:03] subfuzion opened #162 "Stack service"
Our initial stack implementation will support the following command:

[code]

The CLI will call the stack rpc up operation and supply the stackfile. The service will be responsible for orchestrating the following activities:
- parse the stackfile and store the configuration information in `etcd`
- create and start the services specified in the stackfile
- update the reverse proxy service with any

[2016-09-14 22:16] subfuzion commented on #161
Since we're going to be storing this in `etcd` (and potentially passing this info among services), it would be a good idea to define this in protobuf format and autogenerate the struct. The struct can be populated after parsing and then stored directly as is.

[2016-09-14 23:05] generalhenry commented on #161
I want to handle the protobuf side as a follow on issue

[2016-09-14 23:21] #161 closed, assigned to generalhenry

[2016-09-15 00:06] subfuzion commented on #162
(this is a wip)

Stack states
- Starting
- Running
- Stopped (initial)
- Redeploying

Transitions

| State / Next State | Starting | Running | Stopped | Redeploying |
| --- | --- | --- | --- | --- |
| Starting |  | started |  |  |
| Running |  |  | stop | redeploy |
| Stopped (initial) | start |  |  | redeploy |
| Redeploying | on redeploy success |  | on redeploy error |  |

[2016-09-15 00:20] generalhenry opened #164 "Stack Protobuf storage"
relates to https://github.com/appcelerator/amp/issues/162
Store stacks as protocol buffers

follow on to https://github.com/appcelerator/amp/issues/161

[2016-09-15 00:43] #164 closed, assigned to generalhenry

[2016-09-15 01:31] generalhenry opened #166 "missing vendor dependency"
github.com/docker/go-connections/nat
missing from the stack yaml parser

[2016-09-15 02:27] subfuzion commented on #166
My fault for not testing, but unfortunately #167 breaks the build. Reopening the issue.

[2016-09-15 02:44] subfuzion opened #168 "Add and resolve vendor dependencies for docker and protobuf"
There is a vendor dependency ordering issue with glide that is causing it to get the wrong versions of the following dependencies:
- github.com/docker/docker
- github.com/golang/protobuf

[2016-09-15 02:53] #166 closed, assigned to generalhenry

[2016-09-15 03:12] #168 closed, assigned to nobody

[2016-09-15 17:22] generalhenry opened #173 "Add Stack names"
require stacks to have names
alias the stack_name to the stack_id in etcd

[2016-09-15 17:23] generalhenry opened #174 "Add expose to stack yaml and service type"
Add expose in addition to ports to services.

[2016-09-15 22:55] #174 closed, assigned to generalhenry

[2016-09-16 00:14] #173 closed, assigned to generalhenry

[2016-09-16 22:35] generalhenry opened #183 "Merge service spec into stack"
merge service implementaions

[2016-09-16 22:38] generalhenry opened #185 "Remove build rpc link"
While the build server is in transition remove the rpc linkage.

[2016-09-16 22:52] #183 closed, assigned to generalhenry

[2016-09-16 23:04] generalhenry commented on #157
updated by https://github.com/appcelerator/amp/pull/184

[2016-09-17 00:02] #185 closed, assigned to generalhenry

[2016-09-19 20:57] generalhenry opened #194 "Disable client side auth check"
Currently running `amp stats . . .` without logging in first results in a `Requires login` error, however none of the current API endpoints require login.

As such the client side check should be skipped and an empty string should be sent as the auth token.

[2016-09-19 22:25] #194 closed, assigned to generalhenry

[2016-09-20 15:21] subfuzion opened #199 "amp logs <service>"
Instead of flags for `--service-name` and `service-id`, if an argument is provided to `amp logs` it should be assumed to be for a service; furthermore, the command should be smart enough to determine if the argument is a service name, service id (or short id).

[2016-09-20 18:34] generalhenry opened #201 "Services not replicated"
`service.ServiceSpec` includes a replica count but the replica count is not being forwarded to the docker api

[2016-09-20 19:52] #201 closed, assigned to generalhenry

[2016-09-20 19:58] generalhenry opened #204 "Minimal stack networking"
Attach all services to the `amp-public` network with alias.

This doesn't solve any namespace issues but it allows in stack networking to work as expected.

[2016-09-20 21:42] #204 closed, assigned to generalhenry

[2016-09-21 16:36] subfuzion opened #210 "CLI Commands"
Clean up / standardize command help text, options formatting, etc.

[2016-09-21 16:40] chrisccoy commented on #210
Add a section to the beginning of CLI Help as follows:
`Usage: amp [OPTIONS] COMMAND [arg...]`
`amp [ --help | -v | --version ]`

[2016-09-21 16:56] #121 closed, assigned to freignat91

[2016-09-21 20:39] freignat91 opened #220 "add command: amp stack redeploy"
Implement the amp command: amp stack redeploy [stack yaml file]

it could work like that:
- compare the stack started services with new ones (in the stack yaml file)
  for each service:
- if no change, then nothing is done
- if change appear, then update it using docker service update swarm api
- if a service is not in the stack yaml file, then stop it
  and update ETCD data accordingly.

so on se

[2016-09-21 20:55] freignat91 commented on #56
Tested ok:
config file in $HOME/.amp.yaml
if item ServerAddress is defined in the config file, it is taken as default value for amp command

[2016-09-21 20:55] #56 closed, assigned to subfuzion

[2016-09-21 21:37] generalhenry commented on #220
:+1:

[2016-09-21 21:43] #199 closed, assigned to nobody

[2016-09-21 22:01] chrisccoy commented on #210
Playing around with the templates. I have refactored the Root Cmd to follow more closely the docker CLI approach. This approach allows for the segregation of Options, Commands and Commands with Sub Commands, when viewing help:

[code]

amp stack --help would yield the following:

[code]

[2016-09-22 00:20] generalhenry opened #229 "Fix service alias"
currently stack dns is off due to service name being overloaded.

[2016-09-22 00:24] #157 closed, assigned to generalhenry

[2016-09-22 00:25] #162 closed, assigned to nobody

[2016-09-22 00:25] #150 closed, assigned to nobody

[2016-09-22 00:26] #141 closed, assigned to ndegory

[2016-09-22 00:35] freignat91 commented on #229
so:
- be able to attach a specific network to a stack
- for each service of the stack create an alias using its short name on the stack network

[2016-09-22 01:36] generalhenry commented on #229
Correct

[2016-09-22 17:33] craigivy opened #232 "Logs by stack"
We would like the ability to see the logs based the stack we are running from the amp logs command line.

[2016-09-22 21:36] generalhenry opened #235 "Service Env"
Env is implemented by the docker swarm API as a `[]string`

1) Change the ServiceSpec for env to `repeated string`
2) Update the parser to use `[]string`
3) Pass Env to containerSpec

[2016-09-23 04:35] freignat91 commented on #232
amp-agent has been updated to add stack-id and stack-name in log using labels added in #237 and #236 allows to extract them.
To be tested.

[2016-09-23 17:34] freignat91 opened #239 "Stack network stage 1"
Summarize of discussion we had on this subjects:

Stack networks:
- we have a default network created for a stack having the same name than the stack
- by default all services created in the stack joins this default network.
- each service in the stack can create/join new networks, using yaml syntax:
  networks:
  - networkName1
  - networkName2
- the real name of the created networks are prefixed

[2016-09-23 17:41] freignat91 commented on #239
As a stage 1, i propose to implement:
- have an automated haproxy service created for each stack
- have default network created for each stack
- have public network created for each stack and make service automatically joins it if they have to be reverse proxy (if we have a -name in -public service definition)

make first that stable, before added multiple custom networks

[2016-09-23 18:35] ndegory opened #241 "Add a haproxy-telemetry service"
there's a telegraf plugin able to read the haproxy stats, we can use it to send the haproxy stats to influxdb

[2016-09-24 17:45] freignat91 commented on #235
@Henry. Our serviceSpect was already not the same than the docker one. I let Tony decide what to do with this PR, modify the parsing to have []string (the docker type) to be adapted to []*string (the repeated string type) whatever, or use the one the parsing already give now: map[string]string, this PR

[2016-09-24 17:48] #232 closed, assigned to nobody

[2016-09-25 02:32] subfuzion commented on #235
@freignat91 See my comment here: https://github.com/appcelerator/amp/pull/238#issuecomment-249398791. I've gone ahead and submitted a separate PR that also includes some other cleanup/refactoring (#244).

[2016-09-25 16:11] subfuzion opened #245 "Grafana doesn't start"
Grafana fails to start when starting the swarm. Needs investigation/resolution.

[2016-09-25 19:03] ndegory commented on #245
@subfuzion does it happen only on Docker for Mac? I never met this issue.
Can you please provide logs from the container? I would also be interested in the result of docker service ps on the grafana service id.

[2016-09-25 19:23] subfuzion commented on #245
@ndegory I was under the impression it was happening to everyone last week, at least everyone I talked to during the demo. I'm in the middle of something else right now, but will try to get more detail shortly.

[2016-09-25 19:26] subfuzion opened #247 "Docker stack test is failing"
[code]

Also, even when a test fails, it should clean up after itself.

[2016-09-25 21:06] subfuzion opened #248 "Add service label support to CLI"
Add option for labels: `-l, --labels`

Ex:

[code]

[2016-09-25 21:57] subfuzion commented on #247
Can't duplicate, passing now.

[2016-09-25 21:57] #247 closed, assigned to nobody

[2016-09-25 22:10] subfuzion opened #250 "Add container labels support"
Add an option for `--container-label` to `service create` and add support for `container_labels` to the stackfile for `stack up`.

[2016-09-26 00:33] subfuzion opened #252 "Add service rm"
Add a CLI command to be able to remove a service.

[2016-09-26 09:19] #235 closed, assigned to nobody

[2016-09-26 17:04] #248 closed, assigned to nobody

[2016-09-26 17:09] #250 closed, assigned to nobody

[2016-09-26 17:39] #252 closed, assigned to nobody

[2016-09-26 18:40] generalhenry commented on #245
It comes up for me, I'm running ubuntu@macbook

[2016-09-26 18:43] generalhenry opened #254 "Telegraph Failing to capture container stats"
locally (ubuntu@macbook) I'm running into errors such as

[code]

And not getting any container stats.

[2016-09-26 18:52] chrisccoy commented on #245
works on my system, as well. Ubuntu 16.04

[2016-09-26 19:27] subfuzion commented on #245
It fails for both me and Ivy (both of us running Docker for Mac). However, it is also failing for @freignat91 who is running Linux. Here's the log he sent:

[code]

[2016-09-26 19:28] subfuzion commented on #245
@ndegory Since you're colocated with @freignat91, it would be good if you can work with him to investigate/resolve this issue when he comes back to the office on Wednesday.

[2016-09-26 19:57] ndegory commented on #245
@subfuzion I'll check tomorrow with @freignat91.
From what I see in the logs it seems that it took too long to start, it reached the (arbitrary) timeout of 12 sec.
Not sure why the migration step takes so long, I'll update the timeout as a workaround, but I'll check again with @freignat91
@subfuzion can you please confirm that your container has same symptoms?

[2016-09-26 20:15] ndegory commented on #254
@generalhenry this means that Docker doesn't reply to the telegraf plugin on time (10 sec by defaut, which is already a lot). We can set a higher timeout with the INTERVAL env var, but I don't think it's a good workaround. Can you restart your Docker daemon and check that you still have this issue?

[2016-09-26 20:36] generalhenry commented on #254
[code]

still same results `context deadline exceeded`

[2016-09-27 01:24] subfuzion opened #255 "Need support for replicated/global mode"
Requirements
- `amp service create` should have support for `--mode replicated|global`
- `amp stack up` should have stackfile support for:
  `mode: replicated|global`

Rules
- `mode` default = `replicated`
- if `replicas` > 0 && `mode` == "global" => error ("replicas can only be used with replicated mode")
- if `replicas` < 1 && `mode` == ""  => set `replicas` equal to 1

[2016-09-27 02:34] #255 closed, assigned to subfuzion

[2016-09-27 11:31] #105 closed, assigned to nobody

[2016-09-27 11:54] ndegory commented on #124
The build issue is related to the vendor folder:
Checking out files: 100% (15955/15955), done.
No submodule mapping found in .gitmodules for path 'vendor/github.com/Microsoft/go-winio'
please ensure the correct public key is added to the list of trusted keys for this repository and the remote branch exists. (1)

[2016-09-27 13:02] subfuzion commented on #124
@bertrand-quenin @ndegory @freignat91

This requires the same fixes I did for docker-haproxy. See my commits on September 25: https://github.com/appcelerator/docker-haproxy/commits/master

You need to explicitly remove all the cached submodules stored in the repo (not the vendor directory), although the path you specify for the submodule is under vendor. Try this:

[code]

Then push and look at th

[2016-09-27 13:38] ndegory commented on #124
works like a charm, thanks for the tip @subfuzion

[2016-09-27 16:00] freignat91 commented on #124
it seems that amp-agent doesn't work after this update. See amp-agent log:
amp-agent version:  build:
Configuration:
Docker-engine: unix:///var/run/docker.sock
Kafka host: kafka:9092
Connected to Kafka
Kafka topic available amp-logs
Kafka producer successfuly created
Connected to Docker-engine
Extracting containers list...
Container inspect error: error during connect: Get https://%2Fvar%2Frun%2Fd

[2016-09-27 16:00] freignat91 commented on #124
Connection to docker: ok
extract list container: ok
inspect containers: ko

[2016-09-27 16:04] ndegory commented on #124
@freignat91 I think we should open a separate issue, it's not related anymore to the automated build, just to the changes that have been applied on the sources since then

[2016-09-27 16:07] freignat91 commented on #124
No change have been applied on the source since. I built it manually, but now after a clone, even the manually build doesn't work. It seems related to vendor.

[2016-09-27 16:28] freignat91 commented on #124
I'm on it. i'm going to open another issue closing this one

[2016-09-27 16:28] #124 closed, assigned to nobody

[2016-09-27 16:30] ndegory commented on #254
@generalhenry can you please try to reproduce with different settings on the telegraf-agent service?
shorter gathering period: -e INTERVAL=5s (should have same issue)
longer gathering period: -e INTERVAL=20s -e FLUSH_INTERVAL=22s (should not timeout)

[2016-09-27 16:39] ndegory commented on #254
I noticed that the timeout happens when there's a high activity (typically when the stack is launched, Docker is busy launching services, and you may experience timeouts).

[2016-09-27 17:03] freignat91 opened #257 "amp-agent is out of order"
After the operation on vendor today, build issue appear, after having fixed them, amp-agent docker commands don't work anymore.
The code seems right, but the client docker work as https where docker engine is http.
No clear explanation for now.

[2016-09-27 19:50] freignat91 commented on #257
Issue fixed. It needs alpine with go 1.7 to work correctly. It was Go 1.6 previously.
We should update all Dockerfile to alpine Go 1.7 to avoid side effects like these.

[2016-09-27 19:50] #257 closed, assigned to freignat91

[2016-09-27 19:57] freignat91 opened #258 "move all amp alpine go images/Dockerfiles to Go 1.7"
Last amp-agent issue shown bad sides effect using alpine go 1.6 image with docker/docker.
Moved to Go 1.7 solved the issue.
To be safe, better to move all our alpine images to Go 1.7

[2016-09-27 21:05] chrisccoy commented on #254
Not that this helps, but on my laptop which is also running Ubuntu 16.04, there are zero reported errors in the logs. I performed the same restart instructions as @generalhenry and cannot produce the same issue.

[2016-09-28 04:43] freignat91 commented on #258
see:
https://github.com/appcelerator/issueDocker
a project to show the docker/docker issue

[2016-09-28 07:32] freignat91 commented on #229
to be fixed in #239

[2016-09-28 14:17] ndegory commented on #258
@freignat91 can we change the tests in the docker-compose.test.yml of amp-agent to reflect these tests?

[2016-09-28 14:42] freignat91 opened #260 "Solution for localhost DNS with no prerequisite, all systems (linux, windows, mac)"
[fist post re-written]:
Create a DNS entry in Route53  format *.local.[domainName] and having 127.0.0.1 as value
So any host names matching the form *.local.[domaineName] will be resolved to 127.0.0.1 on all machines.
This way we can use Haproxy reserve proxy using host with a local instance of amp running on our machine for test or development. All URL having host finishing by `local.[domainName]

[2016-09-28 14:48] freignat91 commented on #260
I just created DNS entry: "local.axwaytest.net"
so xxx.local.axwaytest.net routes to localhost on all machines, no matter the what is 'xxx'
ui.local.axwaytest.net on your explorer will launch your local instance of amp-ui for instance

[2016-09-28 20:21] generalhenry commented on #260
I also set *.local.appcelerator.io to localhost.

[2016-09-28 22:56] chrisccoy opened #261 "Kapacitor has null field in alert for cpu and mem"
**Alerts appear as follows:**
`AMP//docker_container_cpu is WARNING usage percent: 66.65190055979645`

**Should Contain Service**
`AMP/SOMESERVICE/docker_container_cpu is WARNING usage percent: 66.65190055979645`

[2016-09-29 01:57] freignat91 opened #263 "Open an official Docker issue on the swarm bug"
Defined a clear, repeatable use case to make obvious the issue we found on swam multi nodes configuration in order to get official Docker update or feedback.

[2016-09-29 02:37] subfuzion commented on #260
Modifying `etc/hosts` always works to provide a way to map host names. Although `/etc/hosts` wasn't intended for DNS, it works just fine for not only hostnames but multilevel domain names. Mapping dedicated names (`foo.appcelerator.io` to `127.0.01`, for example) works as long as there is no conflict with any 3rd level domain name. As per Henry's example, using `*.local.appcelerator.io` as a 4th l

[2016-09-29 07:27] #261 closed, assigned to chrisccoy

[2016-09-29 14:46] ndegory commented on #263
Good news: the bug was ours, after a fix on the security group, I don't notice any issues anymore on a full Swarm cluster (3 managers + 5 nodes). No need to open an issue on the Docker repo.
I've applied the changes on https://github.com/appcelerator/amp-swarm-deploy

[2016-09-29 14:46] #263 closed, assigned to nobody

[2016-09-30 14:00] ndegory commented on #245
configuration timeout has been updated (24 sec instead of 12 sec) 4 days ago, which is maybe why @freignat91 does not experience issues anymore.

[2016-09-30 17:03] JosephGJ commented on #245
This issue is occurring on my Mac system. There were times where grafana started in the past, however, now it does not at all.

[2016-10-01 02:59] freignat91 commented on #260
Not sure i got your last point @Tony, it's what we propose with "local.axwaytest.net" or "local.appcelerator.io".
Anyone executing `ping xxx.local.appcelerator.io` on his machine anywhere will see answer: 127.0.0.1
with nothing to do on the machine. It's safe and robust.
I updated the first post which wasn't very clear.

[2016-10-01 17:33] craigivy opened #271 "Amp logs for service"
Would like the ability to see the logs for a given service, similar to stack.

Use cases:
- I want to understand why my service keeps restarting,  So I want to look at all the logs for that service.
- Want to look at my service and only my service holistically
- I'm lazy, I don't want to deal with container IDs.  In early development you may only be running one instance and amp logs --service myse

[2016-10-01 18:56] craigivy commented on #271
Noticed the readme has this in the document.  But not  the command "amp logs -h" did not show it.  Pulled today

[2016-10-01 20:35] craigivy opened #272 "env in stack file not working"
Env variable not being passed to docker containers.

Add single or an array of environment variables in stack file in either sample format.  Start the stack and inspect the docker containers.  Tested using both the sample files

[2016-10-01 20:39] craigivy opened #273 "Stack: replicas and public.name required?"
Sample stacks failing.  sample05 failing because public.name and replicas not set in stack file.  If these are required a user friendly error should be returned in both cases (as of now it is hard to tell what is wrong).  If defaulted I assume replicas is 1 and public.name is the name of the service.

[2016-10-01 20:43] craigivy opened #274 "Support for environment variables in stack files"
Ability to set environment variable in stack file similar to docker compose.

sample:
   image: registry.ecd.axway.int/cm/cm-ui-web:$UI_VERSION

sample (within string)
- "FLOW_MASTER_URL=${FLOW_MASTER_URL}"

[2016-10-02 10:12] freignat91 commented on #273
Replicat issue fiixed in PR#270, but created a dedicated PR #275

[2016-10-02 11:01] freignat91 commented on #272
Just verified. It's works on the last amp version.
Which syntax are you using in the stack file, the right ones are:

[code]

or

[code]

step to verify using the following stack file:

[code]
- amp stack up test -f [theStackFile]
- docker ps | grep test-pinger2
- get the first displayed container id
- docker exec -it [theContainerId] sh
- inside the container exec:
- set
- variables test1 and tes

[2016-10-02 15:35] craigivy commented on #272
Looks to be env: vs environment:  see [sample 5](https://github.com/appcelerator/amp/blob/master/api/rpc/stack/test_samples/sample-05-1-env.yml).  If there is a better reference for the stack file let me know.  I'm using the sample files which is ok with me.

[2016-10-02 17:32] freignat91 commented on #272
Yes, you're right sample 5 is wrong. We're going to fix it and check the others.
Thanks

[2016-10-03 09:06] freignat91 commented on #272
fixed, close issue

[2016-10-03 09:06] #272 closed, assigned to nobody

[2016-10-03 09:06] freignat91 commented on #273
fixed close issue

[2016-10-03 09:06] #273 closed, assigned to nobody

[2016-10-03 09:14] bquenin commented on #271
@craigivy I've updated the documentation of the CLI `logs` command and the README in order to make it easier to figure out.
`amp logs` is service based by default. Running `amp logs myservice` fetches all the logs for this service, including stopped or running containers.

[2016-10-03 20:11] craigivy commented on #271
@bertrand-quenin, Thanks, not sure why I did not try that.

[2016-10-03 22:51] chrisccoy opened #278 "Add Persistence to etcd container"
# Background

When the swarm restarts, stacks and services that have been previously created are left in an orphaned state, rendering amp cli unable to stop and remove.
# Solution

Add a mount to the etcd swarm command that will cause the etcd `<k,v>` to persist between restarts.

For example,

[code]

Thoughts?

[2016-10-04 06:46] ndegory commented on #278
@chrisccoy you're right we have to address the persistence, especially for etcd. The issue here is that on a multi node configuration (the default), the local mount won't help unless we have a shared FS on all the swarm cluster.
Without the sharedFS, we already have a Docker volume that should work on a single node without the addition of a mount option. (there's a /data volume in appcelerator/etc

[2016-10-04 09:41] #271 closed, assigned to nobody

[2016-10-04 14:35] freignat91 opened #280 "Stack network stage 2"
Add networks item for services in stack file like this example: (same syntax than docker compose)

[code]

so, in addition to default network (managed in stage 1), each service can join a pre-existing network
having a name and can define its alias names on this network
the pre-existing network can be shared by several stacks, enabling services communication between stacks.

then, we should have th

[2016-10-04 14:38] freignat91 commented on #280
So stage 2:
- update stack file parsing to have two major items `services` and `networks`
- in the `services` one, add optional `networks` item in service definition with name and aliases
- in the `networks` one add full network definitions
- when executing stack file, create first the custom networks and then the services joining them to their respective networks

[2016-10-04 14:42] freignat91 commented on #280
custom networks deletion:
considering that a custom network can be define in several stack in order to enable inter-stack communication, we have to add the number of owners in the network data store in etcd.
- when a stack creates a custom network, if the network doesn't exist, we create it with an owner number equal to 1.
- when a stack creates a custom network, if the network exists and the defi

[2016-10-04 15:27] ndegory commented on #278
To be clear, the mount option of the service create command accepts two modes: bind mount (from host) or volume mount (Docker data volume). The latter is of interest for us, that means the service will create the named volume and reuse it in case the container fails and restarts on same node.

[2016-10-04 15:56] generalhenry commented on #280
Why deviate from

[code]

for external networks?

[2016-10-04 18:20] JosephGJ opened #282 "Improve Stack Tests"
Missing tests in the parse_test.go, some sample stacks are not tested e.g.
2. sample-05-1-env.yml
3. sample-05-2-env.yml

[2016-10-04 19:42] freignat91 commented on #280
@generalhenry it's change the way to manage networks declared in stack files

Either
- (1): we think that all networks as to be created using stack files
  or
- (2) network can be created using specific  amp command outside stack files

if we agreed on (1), it was my supposition, then we can't use external syntax, because each stack should be able to create the external network. We can't have the

[2016-10-04 20:48] JosephGJ opened #284 "Initial CLI tests"
Initial tests to
- [x] run a service using a specified image and port options
- [x] see the service listed
- [x] verify service is accessible at published ports
- [x] delete service and see the service has been removed from service list

[2016-10-04 22:10] #278 closed, assigned to nobody

[2016-10-04 22:32] generalhenry commented on #280
So to confirm.

Each stack would have it's own `[default network]` that's stack scoped.
If you specify a network in the stack file you then create a `[custom network]` that's swarm scoped? (or perhaps organization or team scoped?)

Follow up:
  How would conflicts in network definitions be handled? eg:

_web-stack.yml_

[code]

_data-stack.yml_

[code]

[2016-10-05 06:32] freignat91 commented on #280
yes, each stack have default networks stack scoped. the custom networks are swarm scoped because their purpose is the stack inter-communication.

if in several stacks the network definition is different for the same custom network name, then when the second stacks up an error should occur.

In your example, but with the same network definition, the network `app-net` will be created once, when one

[2016-10-05 08:57] pires commented on #258
Make sure it's the latest minor release, 1.7.1. There were some pretty serious DNS issues that were fixed in that release, https://github.com/golang/go/issues?q=milestone%3AGo1.7.1.

[2016-10-05 09:05] pires commented on #245
Those SQL statements should be blazing fast. The copy ones don't even run so I wonder where exactly are these operations taking place. Is the sqlite file hosted in the host? Docker for Mac is usually slower, particularly if you're syncing files between host fs and vm fs. Is this the case?

[2016-10-05 09:29] #282 closed, assigned to JosephGJ

[2016-10-05 10:14] ndegory commented on #258
@pires thank you for the notice. The edge repo of Alpine has Go 1.7.1, so we're fine.

[2016-10-05 11:39] bquenin commented on #94
Obsolete

[2016-10-05 11:39] #94 closed, assigned to nobody

[2016-10-05 12:50] ndegory commented on #245
on my system, it takes 2 sec to configure and 2 more sec to be up and running. The sqlite file is not in an explicit mount, just in a VOLUME statement, I don't think it means syncing files between host and vm. Like @pires said, it seems to be related to the slowness of Docker for Mac.
A new image has just been built with go 1.7, it probably has no effect on this issue but a new test would be appre

[2016-10-05 14:57] bquenin opened #288 "Topics"
The goal of topics in amp is to be able to create, list and remove topics dynamically.
This is a first step in order to provide `OnEvent` service execution.

How it works:
## Topic Creation

You can create a topic using the following command:

[code]
- amplifier will generate an id for this topic and create the corresponding entry in etcd. (under `topics`)
- amplifier returns the topic id to the c

[2016-10-10 00:07] subfuzion opened #295 "Vendor install fails with a clear cache"
`glide install` (or `make deps`) fails with a clear cache due to conflicts around both `github.com/docker/docker` and `google.golang.org/grpc`.
## Steps to Duplicate

[code]

[2016-10-10 04:14] #295 closed, assigned to subfuzion

[2016-10-10 11:31] freignat91 opened #298 "Move stack parsing to client side"
related to #274

Have the parsing of the stack file for the amp command 'up', client side to:
- manage the `env_file` item in stack file (like docker compose file)
- be able to pre-process stack file with environment variables or env files.

[2016-10-10 15:48] freignat91 opened #299 "add volumes/mount in stack file"
manage volume and mount in stack file per service and add capability to create named volumes used by services (so add a "volumes:" entry in stack file same level than "services:" and "network:"

[2016-10-11 05:34] #229 closed, assigned to nobody

[2016-10-11 05:34] #239 closed, assigned to freignat91

[2016-10-11 05:34] #260 closed, assigned to freignat91

[2016-10-11 08:33] ndegory opened #301 "amp tests fail on multi node swarm cluster"
To be able to test (with make test) the kafka service has to be advertised. The current implementation works for single node clusters, but not on multi node clusters.

[2016-10-12 10:09] hadrien-gantzer opened #302 "Swarm monitor not clearing lines below core services"
Working with stacks and monitoring through `swarm monitor`

Display is not being refreshed properly when new services start to get populated.

_Steps to reproduce:_
1. `sudo swarm start`
2. `swarm monitor`
3. Once all service up & running, start a stack in another terminal: `amp stack up stack1 -f ./api/rpc/stack/test_samples/sample-03.yml`
4. You'll see all services getting populated properly in

[2016-10-12 10:11] hadrien-gantzer commented on #302
Modify swarm script **monitor** function:
- Current:
  `monitor() {
  interval=${1:-5}
  clear; while true; do tput cup 0 0; docker service ls; sleep $interval; done
  }`
- Proposition:
  `monitor() {
  interval=${1:-5}
  while true; do clear; tput cup 0 0; docker service ls; sleep $interval; done
  }`

[2016-10-12 11:00] ndegory commented on #302
@hagantzer if you include _clear_ in the loop, there's no reason to use tput anymore, as the screen is already cleared an reset to 0;0.

[2016-10-12 11:38] hadrien-gantzer commented on #302
@ndegory k, keeping the cup method to get smoother display update

**proposition 2:**

`monitor() {
  interval=${1:-5}
  while true; do tput cup 0 0; tput ed; docker service ls; sleep $interval; done
}
`

[2016-10-12 13:52] freignat91 commented on #299
Partially done in PR #304, we can now define volumes for services in stack file included named volumes.

[2016-10-12 18:27] ndegory commented on #301
Proposition:
- the tests should interact with the amplifier part of the stack, not with an extra amplifier container.
- no direct interactions with other containers (influxdb, elasticsearch) should be done, unless it can be done with the Swarm routing mesh

[2016-10-13 05:19] #258 closed, assigned to nobody

[2016-10-13 08:52] ndegory commented on #299
@freignat91 what is missing?

[2016-10-13 08:54] ndegory commented on #254
@generalhenry I don't think anybody was able to reproduce this issue, do you still experiment it with Docker 1.12.2?

[2016-10-13 08:56] ndegory commented on #245
@JosephGJ are you now on Docker 1.12.2(-rc)? How is your Grafana container behaving now? (I'm interested in the startup time)

[2016-10-13 16:02] ndegory opened #306 "Need an amp-bootstrap agent"
To replace appcelerator/amp-swarm-deploy, we need a go binary that will take care of same operations:
- make sure the Docker engine is up to date
- initialize the Swarm cluster

Later if will be also used to register on the AMP portal

[2016-10-13 16:13] #284 closed, assigned to nobody

[2016-10-13 16:33] freignat91 opened #307 "Make easier clusters deployment using containers IPs in their configuration"
Some cluster installation as ETCD, Zookeeper, Cassandra needs that each instance gets its own private IP and/or the other instances private IPs to update its configuration and start really.
Most of the time it's achieved by a script which gets all the needed data in the container environment, builds the conf file and starts the product instance.

This kind of script needs simple commands to get:
-

[2016-10-13 16:36] freignat91 commented on #299
The capability to create shared volumes in stack files under dedicate topic "volumes" as it's the case for networks

[2016-10-13 18:07] generalhenry commented on #254
@ndegory Yes, still same issue

[2016-10-13 18:41] JosephGJ commented on #245
I'm on 1.12.2. Grafana is starting now. I think my Mac is quite slow as grafana can take upwards of 2 minutes to start.

[2016-10-13 18:42] JosephGJ opened #309 "./swarm monitor - not listing services"
Related to #302

`sudo ./swarm start`
`./swarm monitor`

Swarm running. List of services not appearing.

[2016-10-13 18:50] subfuzion commented on #302
We can write a better script for this:
1. Set exit trap to restore cursor and move to the last row
2. Hide cursor
3. Clear the screen
4. Loop:
   1. List services
   2. Clear to the end of the screen
   3. Set cursor to top left
   4. Sleep for configured delay

[2016-10-13 18:57] subfuzion commented on #309
@JosephGJ https://github.com/appcelerator/amp/pull/308 Has already been filed to revert the issue. Go ahead and test and merge the PR. Thanks.

[2016-10-13 18:58] generalhenry commented on #254
I also tried extending the timeout

[code]

[2016-10-13 19:10] generalhenry commented on #254
I tried manually querying the stats eg `curl --unix-socket /var/run/docker.sock http:/containers/registry.1.1wiv2if2xdce96qo79lecwqji/stats` the http connection just hangs.

So the issue isn't telegraf, it's something about my local docker.

[2016-10-13 19:10] #254 closed, assigned to nobody

[2016-10-13 20:04] #309 closed, assigned to nobody

[2016-10-13 21:48] craigivy opened #310 "Release should include released mircoservice instead leatest"
When using a release all components should be versioned and used.  Swarm pull is pulling the latest of several docker images -
  appcelerator/amplifier:latest
  appcelerator/amp-agent:latest
  appcelerator/amp-log-worker:latest
  appcelerator/amp-ui:latest
  appcelerator/elasticsearch-amp:latest
  appcelerator/grafana:latest

Using versioned docker instances will ensure consistency between our env

[2016-10-14 01:27] subfuzion commented on #310
@craigivy Agree, this is in work (although the issue for it is in our old repo, so just as well that you opened it here). We just started to tag our milestone releases and we're talking about creating a single tagged image with all the binaries correlated for each release right now. You can expect resolution on this by the next iteration. cc/ @ndegory @hagantzer

[2016-10-14 04:17] craigivy opened #311 "AMP commands return connection errors"
Running AMP commands return connection errors.
amp stats
2016/10/13 20:11:50 grpc: addrConn.resetTransport failed to create client transport: connection error: desc = "transport: dial tcp [::1]:50101: getsockopt: connection refused"; Reconnecting to {"localhost:50101" <nil>}

[swarm.txt](https://github.com/appcelerator/amp/files/528660/swarm.txt)

Using release 0.1.1, me know if you want more info

[2016-10-14 07:35] freignat91 commented on #280
the PR network stage 2 does't cover the Henry's proposal. I'm waiting for the stage 2 merged to move on them and work network stage 3. I'll open a dedicated issue on that

[2016-10-14 10:34] freignat91 opened #313 "amp network stage 3"
As Henry suggest in #280, it's interesting to be able to make stack services join external network already created. Stack file syntax could be the same than docker compose file one, for instances:

[code]

or

[code]

In both case, service `myservice` will join the external already created network `anexternalnetwork`, in case one, the true name of the external network is used in the stack file, in

[2016-10-14 10:43] freignat91 commented on #311
It seems that you don't have the server address set in your configuration file.
Add this file:   `~/.amp.yaml`
with inside one line:
`ServerAddress: 127.0.0.1:8080`

and it's going to work.

You can also add at the end of each amp command the argument --server 127.0.0.1:8080
your stats command become:  amp stats --server 127.0.0.1:8080

[2016-10-14 11:43] freignat91 opened #314 "Stack startup with regards to services dependencies"
I known@Tony is working on it, but i was thinking on it for a while and I just wanted to put down some thoughts:

For now a stack starts all services in the stack file order and we assume that if a service starts and one of its dependency service is not there, it just crash and try to start again. This way all services actually start "naturally" in order after a good number of crashes.

We want to

[2016-10-14 15:48] generalhenry commented on #313
👍

[2016-10-14 22:08] craigivy commented on #311
Passing arguments seems to be working. But the yaml file is not.  Maybe the yaml file is post 0.1.1.

[code]

[2016-10-14 22:36] generalhenry commented on #311
I think I see the issue, I made a commit: https://github.com/appcelerator/engage-amp/pull/1#discussion_r83512786

[2016-10-14 23:01] generalhenry opened #316 "CLI improvement phase 1"
- Silence grpc logger except for fatal messages and verbose mode
- Attempt grpc connection at the start of the command, and timeout
- Treat user errors as fatal
- Suppress all other errors unless in verbose mode
- Consistently print id from commands

[2016-10-15 12:59] bquenin opened #318 "Use nats streaming as messaging system"
Replace our kafka messaging system by nats streaming.

[2016-10-16 17:25] craigivy commented on #280
@freignat91 for the engage project we were creating two infrastructure services (oracle and keycloak) and then starting our stack.  We were using the private network to communicate with oracle and keycloak with the stack services.  For now I'm using the public network to communicate.    See [engage.sh](https://github.com/appcelerator/engage-amp/blob/master/engage.sh) for more info.  I'm assume at

[2016-10-16 19:01] ndegory opened #320 "Kapacitor default alerts are too noisy"
The Kapacitor alerts defined in appcelerator/docker-config (0.3.0 as of this writing) are too noisy, the Slack channel is flooded with CRITICAL / OK / ... back an forth.
The alerts should be based on the warm retention policy when appropriate.

[2016-10-17 08:47] freignat91 commented on #307
close, not so good, study to be improve

[2016-10-17 08:47] #307 closed, assigned to nobody

[2016-10-17 09:46] ndegory commented on #241
fixed by #315

[2016-10-17 10:24] ndegory commented on #241
not yet merged

[2016-10-17 14:00] hadrien-gantzer opened #322 "Kafka shutdown/restart at `swarm start` time requires advertise_service to update hosts file"
While starting swarm (`swarm start`)

Kafka container fails to run at 1st start-up & requires user to run `sudo advertise_service kafka` once kafka container is actually ready to update `/etc/hosts`

Need to check what can be done to automate correct config to be appended in `/etc/hosts`file

**Observation upon `swarm start`:**
- `$ docker ps -a --format "{{.ID}}  {{.Image}}  {{.Status}}" | grep k

[2016-10-17 15:01] ndegory commented on #322
PS: the first Kafka container is killed after ~ 55 sec because of a failed healthcheck, 5 failing streaks with the message

[code]

both container take 6sec before the "[Kafka Server 1001], started" message and 12 sec before the "is listening on port :4242" message (admin API), not sure why the healthcheck fails after that.

there's one issue in the healtcheck script: if the ZOOKEEPER_CONNECT env

[2016-10-17 15:15] ndegory commented on #322
at start (maybe because the node has a lot of activities with all the containers starting in parallel), the health.sh script takes more than 2 secs (the timeout of the HEALTHCHECK command). Updating this timeout to 5 sec would probably solve the issue.

[2016-10-17 15:54] ndegory opened #324 "Stack name label available in containers"
It would be convenient to have labels available in the containers for the stack name and the environment, for alerting purposes (Kapacitor). Right now we only have the service name.

PS: The --label option of docker service create only apply to the service and does not propagate to the containers. There's a --container-label option for that.

[2016-10-17 18:14] generalhenry opened #326 "stack listing quite mode is noisy"
With no stacks `amp stack ls -q` should have no output other than a zero return code. The same as `docker service ls -q`, `docker ps -q` etc . . .

Current output is `No stack is available`

[2016-10-17 18:46] generalhenry opened #328 "Stack listing options"
Stack listing (and all listings) should support

[code]

at a minimum

[2016-10-17 20:09] generalhenry opened #329 "Clean AMP connections"
As a follow up to https://github.com/appcelerator/amp/pull/317 create a intermediate command that connects to amplifier to remove the connection logic from the individual commands.

[2016-10-17 21:25] #326 closed, assigned to generalhenry

[2016-10-17 21:35] jhaynie opened #330 "Add binaries to release"
Would be nice to build binaries for main target OS (like Windows, Linux, etc) and have them available for download on release (vs having to go build them).

[2016-10-17 22:39] #328 closed, assigned to generalhenry

[2016-10-17 23:25] #316 closed, assigned to generalhenry

[2016-10-17 23:35] subfuzion commented on #330
Sorry, but that's part of the paid support plan. Kidding! We were just discussing this and will be building these as part of the releases. Thanks for opening the issue!

[2016-10-18 04:28] #280 closed, assigned to freignat91

[2016-10-18 04:29] freignat91 commented on #299
Close this one, open a new one for the shared volumes

[2016-10-18 04:29] #299 closed, assigned to freignat91

[2016-10-18 09:04] freignat91 commented on #324
You mean for the infrastructure containers?
The containers created using stack have stack labels, for instance with pinger container:

[code]

[2016-10-18 13:16] bquenin opened #336 "Incoprporating amp-agent and amp-log-worker into amp"
We need to have a single source code repository for all amp binaires. The following binaries needs to be moved from their dedicated repository to amp
- amp-agent: https://github.com/appcelerator/amp-agent
- amp-log-worker: https://github.com/appcelerator/amp-log-worker

We also need to deliver a single AMP image including our binaries:
- amp (CLI)
- amplifier (server)
- amp-agent
- amp-log-worker

[2016-10-18 16:33] #245 closed, assigned to nobody

[2016-10-18 17:09] #336 closed, assigned to nobody

[2016-10-18 18:05] subfuzion opened #342 "Stack file documentation"
@appcelerator/amp team: Use this [gist](https://gist.github.com/subfuzion/ad84b0c97151f1bdfafefc32cdd79457) for now to start adding input to the stack file documentation. It doesn't need to look pretty for now; it's just a rough draft. @hagantzer and I will make edit it to create a doc that we add to the repo. We're using a gist instead of committing a rough draft so there isn't a storm of edit co

[2016-10-18 18:18] subfuzion opened #343 "Stackfile versioning"
Support stackfile versioning (similar to Compose file [versioning](https://docs.docker.com/compose/compose-file/#version-2) with a version field at the root of the document. If the version isn't present, assume version `1`.

[2016-10-18 18:21] subfuzion commented on #322
Closing for now since we've switched to NATS. Will reopen if we need to deal with Kafka again.

[2016-10-18 18:21] #322 closed, assigned to nobody

[2016-10-19 00:41] subfuzion opened #344 "Stack test hanging"
Stack test hangs toward the end while attempting to remove a network:

[code]

At the same time, other Docker operations appear to be blocked (such as `docker network ls`). This is possibly related to [this issue](https://github.com/docker/docker/issues/27323), which has been fixed [here](https://github.com/docker/docker/pull/27395) and due to be released with Docker 1.12.3.

When this happens, th

[2016-10-19 04:29] #313 closed, assigned to freignat91

[2016-10-19 04:32] #147 closed, assigned to freignat91

[2016-10-19 04:32] #314 closed, assigned to nobody

[2016-10-19 05:10] freignat91 commented on #344
Some observations regarding this issue:
- the stack test which shows the issue is a test on network stack 1 feature (creating private and public network and remove them during stack up and stop, (nothing to do with network stage 2 or 3)
- it happened after moving to docker 1.12.2, on docker 1.12.1 we won't get hanging so often using stacks stage 1 before we move version.
- it's not systematic, but

[2016-10-19 11:37] ndegory opened #346 "Kapacitor Slack webhook is hardcoded in Swarm script"
No private data should be committed in the public repo. The Slack webhook is one of them.

[2016-10-19 12:27] #346 closed, assigned to nobody

[2016-10-19 15:55] hadrien-gantzer opened #348 "Swarm not starting when network interface has multiple addresses"
**Error Message from `swarm start` in such case:**

Fixed by:

[2016-10-19 15:56] bquenin commented on #348
You're right, it's puzzling when you don't know how to initialize swarm.
I'll submit a fix.

[2016-10-19 16:05] ndegory commented on #348
see #39

[2016-10-19 16:07] #348 closed, assigned to nobody

[2016-10-19 16:31] subfuzion opened #350 "Need to address make check issues"
[code]

[2016-10-20 05:46] subfuzion opened #351 "Move registry data directory"
Ref: https://github.com/appcelerator/amp/pull/285

The directory should be placed under an `~/.amp` directory; ie, `~/.amp/logs/registry`, or something similar.

[2016-10-20 06:20] #210 closed, assigned to nobody

[2016-10-20 06:33] subfuzion commented on #147
@freignat91 This will all be addressed as part of the worker task (ie, serverless computing) support, discussed in the architecture doc as on-demand workers.

[2016-10-20 07:11] ndegory commented on #351
@subfuzion we don't need the folder on the host anymore, we use a named volume instead, because:
- no need to make the content available on the host, we don't read or write it from the host
- no need to create the folder on the host
- same function: the volume is kept on the local node and reused next time a container is created

Ref: #281

[2016-10-20 08:04] freignat91 commented on #344
These updates have been done to lower the docker freeze risk:
- wait after deleting a service that the service is well deleted
- wait afer deleting a network that the network is well deleted

[2016-10-20 08:07] freignat91 commented on #344
Even, with the previous update, the freeze continue to occur too often, so this workaround have been temporary apply, until the 1.12.3 fix the docker issue:
- do not delete networks
- when a network is created if it already exist, it's reused

The freeze frequency lower a lot with this workaround, it still occur on a network list this time.

[2016-10-20 08:19] joeblew99 opened #353 "Bleve ?"
i was wondering if you had considered using Bleve (http://www.blevesearch.com/) , instead of Elastic Search ?

Just like how your using NATS-Streaming and not Kafka.

[2016-10-20 08:31] freignat91 opened #354 "Engage: have volumes in stack file"
manage volume in stack file as in docker compose.
It's already done in service module and parsed in stack file
we just have to pass parameter from stack file to services to enable it

[2016-10-20 08:41] avianey commented on #354
I tried `amp service create -v /some:/other ...` is it supposed to work ?

[2016-10-20 12:58] bquenin commented on #353
Hi @joeblew99,

Thanks for the link, I didn't know about Bleve.
After a quick look, it looks like Bleve is a full text search library, kind of what Lucene is for Java.
We are looking for distributed, scalable solutions such as Elasticsearch. However, if any distributed, bleve based DB shows up, we'll be pleased to give it a try.

[2016-10-20 13:22] freignat91 commented on #354
It not yes integrated in amp service command, nor in stack in the current version.
It works internally using structure service description in service module for now, that's all.
PR is on going, should be available soon if validated.

[2016-10-20 14:37] freignat91 commented on #350
done in PR#352

[2016-10-20 14:37] #350 closed, assigned to nobody

[2016-10-20 15:58] bquenin commented on #353
I just came across cbft (https://github.com/couchbase/cbft), which looks like a distributed, bleve based DB.
But it seems too early to consider such a solution.

[2016-10-20 20:11] neha-viswanathan opened #359 "Stack command should block until container is created"
Stack and Stats commands seem to be blocked sometimes, giving varied outputs each time they are executed. Sometimes, these commands run giving the desired output (without any errors). But at times, stack creation using _up_ command fails, which then hinders the execution of other stack commands and stats and/or logs command for stacks.

[2016-10-20 21:37] generalhenry opened #361 "Stack create command"
Add a `amp stack create` command for full command symetry

[2016-10-21 00:32] subfuzion commented on #298
We had discussed moving the parsing to the client in the past, but decided at the time it was best to handle it on the service end. The parsing doesn't need to be done by the client to handle preprocessing transformations before submitting the stack file. On the other hand, I can't think of a reason why we couldn't also add an rpc operation that takes the protobuf generated type for the stack spec

[2016-10-21 00:38] #320 closed, assigned to ndegory

[2016-10-21 07:51] joeblew99 commented on #353
@bquenin Yep Bleve is like Elastic Search.
But yes, you hit the nail on the head about cbft.

You can access it using the Alias command easily.
I personally prefer a non couchbase backing, and there are many: https://github.com/blevesearch/blevex

NATS-Streaming has the same need too - a store cluster.

Maybe a more generic solution is needed ?
https://www.minio.io/ is a s3 replacement and seems t

[2016-10-21 08:04] ndegory opened #363 "Grafana fails to start on slower hosts"
Reported by Stéphane Mercier on a laptop running Ubuntu with 16GB and a magnetic hard drive.
Grafana fails to initialize because of a timeout (not the Docker healthcheck but from the init script) reached.
It takes 25 secs to do what is usually done in ~2 secs, as can be seen below.

Logs from Stéphane's Grafana container:

Logs from a normal behaving container:

[2016-10-21 08:15] joeblew99 commented on #353
https://github.com/minio/dsync

allows storage replication for free. Minio is stable now too. i used it for a while.
should work for bleve as a drop in Store factory i suspect

[2016-10-21 08:39] ndegory opened #364 "Etcd minor version mismatch between client and server"
The Etcd image used by AMP is as of this writing 3.0.12
The Etcd dependency in glide.yaml is ^3.1.0.alpha.1

Etcd 3.1 has made (minor) changes in the gRPC layer, there's a risk of miscommunication.

[2016-10-21 09:51] ndegory commented on #364
changing the dependency to ~3.0 broke the build, make install complained about missing contants in the protobuf package. Moving to 3.1 (as intended) is probably a safe choice now that a RC is available.

[2016-10-21 22:41] #364 closed, assigned to nobody

[2016-10-21 23:20] JosephGJ opened #369 "Log command fails,"
Log command fails whenever it runs.

Currently on docker 1.12.2-Beta28.

When running `amp logs etcd`

[code]

[2016-10-21 23:47] #361 closed, assigned to generalhenry

[2016-10-24 05:12] freignat91 commented on #359
About stats:
Never see stats blocked. Please indicate the way to reproduce it.
Most of the time, we got stats tests error indicating there is no stats published,
"Unexpected empty answer from server"
Then verify using Grafana that you well have stats in InfluxDB

[2016-10-24 05:16] #354 closed, assigned to nobody

[2016-10-24 06:56] subfuzion commented on #369
Lets make [the red cells turn green](https://docs.google.com/spreadsheets/d/1i_fZ9ArzQwnePRPpudxk69f4_CIYk7WBMX73m1IOifY/edit?usp=sharing)! Rather than waiting for log events to be generated and queued up, it should be possible to explicitly generate data and then confirm that the data is ultimately received by the client within a certain short time threshold.

[2016-10-24 07:07] subfuzion opened #370 "Integration tests"
We need to increase test coverage and extend integration tests to include networking, etc (see current integration tests [here](https://docs.google.com/spreadsheets/d/1i_fZ9ArzQwnePRPpudxk69f4_CIYk7WBMX73m1IOifY/edit?usp=sharing)).

Work on removing any redundancy with current backend integration tests (ie, those that require starting amplifier), that can be defined by yaml test specs and added [h

[2016-10-24 08:16] subfuzion opened #371 "Test coverage"
Right now we generating any test coverage metrics to give us any insight into our test strategy. Implementing a `cover` rule in our Makefile will allow us to automate the generation of coverage statics that runs `go test cover` / `go test -cover*` commands (see this [article](https://blog.golang.org/cover) for inspiration.

[2016-10-24 08:21] subfuzion commented on #371
I propose that @generalhenry take this, but if anyone else wants to, go for it...

[2016-10-24 08:40] bquenin commented on #369
I didn't manage to reproduce this behavior neither on tag `0.2.0` nor on `master`.

[2016-10-24 09:28] ndegory commented on #369
Not able to reproduce either (master, Docker 1.12.2 on Ubuntu).
The log looks like the issue we had last week with the stats command failing once in a while.

[2016-10-24 11:55] subfuzion commented on #369
Unfortunately, it's failing for both @JosephGJ and myself. I'm on the stable version of Docker for Mac (1.12.1) and he's on the beta channel version (1.12.2). Joseph was trying to do some test enhancements, but was blocked by the log tests not passing. As long as you are able to work on augmenting the log tests  and other integration tests per #370, then I guess we're ok.

[2016-10-24 12:54] ndegory opened #374 "Non reproducibility of CLI tests"
Ref #370

CLI tests are passing ~ half of the times.
One reason may be because the test specs files contains ordered commands that are not executed in order.

Specs:

[code]

Results:

[code]

This is because [iterating on a map with range does not guarantee the order](https://blog.golang.org/go-maps-in-action#TOC_7.).

[2016-10-24 13:06] smercier74 commented on #363
I tested the image grafana-3.1 instead of grafana-3.1.1 and it starts fine. The grafana web ui http://grafana.local.axwaytest.net/dashboard/db/amp-swarm-health-realtime is reachable. I notice a high hard drive activity on my machine all the time. Maybe grafana or dockerd did a lot of I/O

ID            NAME              REPLICAS  IMAGE                                   COMMAND
0rcywf3wdbq8  elasti

[2016-10-24 13:19] ndegory commented on #363
:+1:

[2016-10-24 13:19] #363 closed, assigned to ndegory

[2016-10-24 13:23] bquenin commented on #370
Do you mind if I submit a PR for renaming the test files from:

[code]

to

[code]

?

[2016-10-24 14:06] ndegory commented on #370
@bquenin if you can wait a bit before renaming the yaml files, I have a PR (#375) in progress impacting those files, thanks.

[2016-10-24 16:16] generalhenry commented on #374
Why not a to level array? eg:

[code]

[2016-10-24 16:35] generalhenry commented on #371
The slightly tricky bit is that we are moving to integration tests where go test is only running our expectations, and shelling out to amp.  We'll need to build an instrumented amp binary for testing.

https://blog.cloudflare.com/go-coverage-with-external-tests/ looks like a good lead on the topic

[2016-10-24 19:58] generalhenry commented on #371
sample coverall:

[code]

makefile example:
https://gist.github.com/skarllot/13ebe8220822bc19494c8b076aabe9fc

[2016-10-24 22:03] subfuzion commented on #374
Many integration test runners support running tests both sequentially (ordered) and in parallel. Within our framework, it would seem natural to expect that any yaml file defines a test suite boundary for being able to run in parallel with any other test suite, and within the yaml file, without needing to complicate things each test case should just default to running sequentially as this probably

[2016-10-24 23:32] generalhenry opened #376 "Stack Examples"
In addition to our stack `test_samples` create a folder of example stacks representing demoable use cases complete with `readme`s

[2016-10-24 23:37] subfuzion commented on #376
Let's put an `examples` folder at the top level for now and then specific examples with their own `README.md` files in subdirectories. We can keep the subdirectories flat for now. A top level `examples/README.md` should provide a general overview.

[2016-10-25 00:50] generalhenry commented on #371
Problem:
  While go coverage has great support for unit test, coverage for integration tests is hacky at best at them moment.

Solution A:
  skip integration test coverage, but have to work on our unit tests to bring coverage up.

Solution B:
  implement/maintain test coverage on our integration tests, lowering our need to write unit test.

IMO it would be best to stick to solution a for now which

[2016-10-25 01:10] subfuzion opened #377 "etcd failing to start"
appcelerator/etcd:3.1 (based on [etcd v3.1.0-rc.0](https://github.com/coreos/etcd/tree/v3.1.0-rc.0)) fails to start. Rolling back to 3.0 fixes. The swarm script should specify `3.0` until `3.1` is verified to work.

[2016-10-25 01:39] #377 closed, assigned to nobody

[2016-10-25 07:37] ndegory commented on #377
this is (another) Docker for Mac issue, working fine on Linux.

[2016-10-25 09:10] freignat91 commented on #359
About stacks:
Related to #344
About docker handing related to stacks start/stop, after tests and study, conclusion:
Docker hang is due to race condition on services networks attachment/detachment
In order to avoid docker hang waiting for a true docker fix (1.12.3 we guess), it's possible to:
- start stack services waiting for a service is fully created (all its containers attached) before trying t

[2016-10-25 09:21] #324 closed, assigned to nobody

[2016-10-25 09:23] #298 closed, assigned to nobody

[2016-10-25 09:29] ndegory commented on #324
@freignat91 yes, I meant for the infra containers.
One thing that is missing in the labels of the stacks is an io.amp.stack.environment label.

[2016-10-25 09:40] #241 closed, assigned to ndegory

[2016-10-25 12:03] #318 closed, assigned to nobody

[2016-10-25 14:41] subfuzion commented on #342
@hagantzer Can you please work with @freignat91. We need more thorough documentation ASAP for the release. See examples above. The documentation should make it clear what options are available for configuring networks, the volume support, etc. There is currently not enough information! Thanks.

[2016-10-25 14:52] subfuzion commented on #342
@hagantzer This is the target document after inputs have been gathered in the gist:
https://github.com/appcelerator/amp/blob/master/docs/stackfile-reference.md

[2016-10-25 15:40] craigivy opened #382 "amp-ui tag 0.2.1 not found in repo"
When doing a swarm pull on 0.2.1  we get the following error - Tag 0.2.1 not found in repository docker.io/appcelerator/amp-ui

[2016-10-25 15:42] ndegory commented on #382
@craigivy , please use 0.2.2, it's a hotfix on 0.2.1.

[2016-10-25 19:52] #382 closed, assigned to nobody

[2016-10-26 04:01] subfuzion commented on #370
I'd like them renamed, but there is no reason for them to be numbered sequentially, giving a false sense of them running in order (see discussion here: https://github.com/appcelerator/amp/issues/374#issuecomment-255879628). Just drop the numbers altogether.

Also, let's get rid of "invalid". That was copied over from the stack file parse tests where it made sense to indicate that the stack file fo

[2016-10-26 04:09] subfuzion commented on #371
As we discussed yesterday, let's focus on coverage metrics for the unit tests for now. Let's put our heads together on how we can get a better sense of how effective our integration tests are from the CLI perspective. To me for now at least that implies we are testing our commands for all the combinations of options that are valid and invalid and confirm that we get the positive or negative result

[2016-10-26 04:44] subfuzion opened #384 "Testing"
This issue is parent for the following issues and others we create to increase test categories and coverage for the next release.

https://github.com/appcelerator/amp/issues/370
https://github.com/appcelerator/amp/issues/371
https://github.com/appcelerator/amp/issues/374

Test categories:
- smoke tests - verify the environment is valid, expected services are running, versions are correct, etc.
- u

[2016-10-26 05:57] subfuzion opened #385 "Examples"
### tl;dr

Create examples and place in subdirectories under `examples`. Examples shouldn't be overly complicated. They should be easy to demo for highlighting various things you can do with AMP related to services, stacks, and stats and log queries.
### More detail

I asked Henry to create a stack example and open an issue for more examples that make it easier to show people how to work with AMP.

[2016-10-26 10:25] subfuzion commented on #376
Thanks for adding the first example, Henry. Closing this issue now since I've opened one for general examples, not just stacks. Let's use that one for discussion.

[2016-10-26 10:25] #376 closed, assigned to nobody

[2016-10-26 13:36] ndegory commented on #310
release v0.2.2 has locked versions for all images.
It will the case for all subsequent releases.

[2016-10-26 13:36] #310 closed, assigned to nobody

[2016-10-27 16:26] ndegory opened #392 "TICK images should not depend of external resources for configuration"
Currently TICK images are downloading an archive from github for the configuration (dashboards, CQ, alerts, etc). If the Docker configuration fails to resolve github (for whatever reason), the container are not configured correctly.
We should use images that already contain the configuration to make it more robust.

[2016-10-29 00:59] #392 closed, assigned to ndegory

[2016-11-01 23:33] generalhenry commented on #385
Idea:
  fully scaled wordpress stack
- varnish
- nginx/wordpress
- redis
- elasticsearch
- mariadb slaves
- mariadb master

[2016-11-02 00:10] generalhenry opened #401 "amp config (get/set)"
Add the ability to get/set individual configuration fields eg `amp config set server localhost:8080`

Alternatively `amp config server localhost:8080`

[2016-11-02 00:23] generalhenry commented on #385
TODO: add baseline assumptions to examples/README.md

[2016-11-02 01:18] subfuzion commented on #401
Yes, what I was talking about is similar to how `git config` works, so `get`/`set` not explicitly required, just the alternative implicit version:

[code]

Also nice to have: options for specifying `--global`, `--local`, and `-f`|`--file` settings.

[2016-11-02 08:56] freignat91 commented on #359
Fixed by Docker 1.12.3 and PR#389

[2016-11-02 08:56] #359 closed, assigned to nobody

[2016-11-02 08:57] freignat91 commented on #344
Fixed by Docker 1.12.3 and PR#389

[2016-11-02 08:57] #344 closed, assigned to nobody

[2016-11-02 09:40] freignat91 opened #402 "Issue: stats doen't handle parameter "service-name" anymore"
Seems a regression:
the command `amp stats --service-name amp` should return list of services begining by `amp`, but it's not the case anymore

[2016-11-02 17:36] generalhenry opened #406 "Examples should work by default"
Currently in order for examples to work the user either needs to run `amplifier` manually or prefix their commands with `amp --server localhost:8080`.

While it's not feasible to eliminate the setup of `./swarm pull && ./swarm start && ./swarm monitor` , it should be possible for those to be the only setup steps before diving into examples.

- [x] Add swarm starting to main example readme
- [x] Sw

[2016-11-02 18:12] generalhenry opened #407 "amp logs <stack> too chatty"
Expected:
[code]

Actual:
[code]

While the infrastructure logs should be available, they should be behind a flag (-v  or the like)

[2016-11-02 20:15] generalhenry opened #408 "Switch local domain"
Switch examples from *.localhost.tv to *.local.atomiq.io

[2016-11-03 08:40] freignat91 commented on #407
Perhaps, it's more a matter of naming convention. Currently a stack HAProxy name is prefixed with its stack name as any other stack user services which makes the command amp logs [stackName] display its logs.
Considering that a stack HAProxy is more an infrastructure component even dedicated to the stack, we can rename it to haproxy-[stackName] then any commands (not only logs but also stats) usin

[2016-11-03 09:17] freignat91 opened #410 "Have a amp test service to test multi-nodes environment on powerful way"
related to #301
for tests, we have on one hand:
- (1): Tests on server side as the ones executed launching `make test`. They are powerful because we can analyse returned struct data and any service status if needed, but these tests doesn't work on amp cluster having several nodes and need to start for each a separate amplifier.

on the other hand we have:

- (2): Tests on client side as the ones e

[2016-11-03 09:34] ndegory commented on #410
related to #301, I have a local branch where I'm trying to solve this issue, we can discuss about it @freignat91

[2016-11-03 09:38] freignat91 opened #411 "Have optional 'depends on' stack file item"
Have an optional item `depends on` for services in stack file to make a service waiting for other stack services started before starting itself.
It could be handled by the command `amp stack up` and `amp stack start`

[2016-11-03 10:21] freignat91 commented on #410
ok!

[2016-11-03 16:56] generalhenry commented on #407
@freignat91 that sounds like a good solution.

[2016-11-03 18:06] #371 closed, assigned to nobody

[2016-11-03 18:14] #329 closed, assigned to nobody

[2016-11-03 20:30] generalhenry opened #413 "Service rm should return service id"
In order to be consistent `amp service rm <ident>` should return the service id rather than `<ident>`

[2016-11-03 21:41] chrisccoy commented on #413
https://docs.docker.com/engine/reference/commandline/service_rm/

[2016-11-03 22:45] generalhenry commented on #413
Interesting.  It looks like `docker rm <ident>` has the same behavior as well, which makes some sense considering that the [remove api](https://docs.docker.com/engine/reference/api/docker_remote_api_v1.24/#/remove-a-container) has no return data.

So that means in order to be consistent with docker we would want to remove the return data from all our remove APIs, and adjust the CLI to return the g

[2016-11-04 15:18] ndegory opened #419 "Travis builds are not reliable"
Travis builds triggered from PR fail from time to time.

For instance https://travis-ci.org/appcelerator/amp/builds/173261434

ends with:

[2016-11-04 18:16] generalhenry commented on #408
Done

[2016-11-04 18:16] #408 closed, assigned to nobody

[2016-11-07 13:43] bquenin commented on #410
I agree with François, after discussion, we ended up with the following table:

| | `amplifier` running locally  | `amplifier` running as a service in the swarm |
|----|----|----|
| `swarm` running locally | This where we are today | This is our target for local swarm tests|
| `swarm` running remotely | Not covered today and not required | This is our target for remote swarm tests |

Also note tha

[2016-11-07 14:10] bquenin commented on #407
Hi, after discussion with François, we think that the best option is to filter on a specific criteria to be able to distinguish between `infrastructure` and `user` services.

The idea is to modify `amp-agent` to get the labels of the container and to add it to the log entry as well.
This way, `amp logs` can filter out all infrastructure logs. Of course, I will also add a flag on the command line t

[2016-11-07 15:48] #401 closed, assigned to generalhenry

[2016-11-07 16:16] #311 closed, assigned to nobody

[2016-11-07 16:17] bquenin commented on #369
Is it still necessary to keep this issue ?

[2016-11-07 16:19] #419 closed, assigned to nobody

[2016-11-07 16:19] #402 closed, assigned to freignat91

[2016-11-07 16:21] subfuzion commented on #369
Nope!

[2016-11-07 16:21] #369 closed, assigned to nobody

[2016-11-07 16:21] ndegory commented on #374
main issue with ordering has been fixed by #398

[2016-11-07 16:21] #374 closed, assigned to ndegory

[2016-11-07 16:23] #353 closed, assigned to nobody

[2016-11-07 16:23] ndegory commented on #351
issue not relevant anymore, there's no directory created for containers in version 0.2.2 and forthcoming 0.3.0.

[2016-11-07 16:23] #351 closed, assigned to nobody

[2016-11-07 16:39] subfuzion opened #425 "REST Gateway"
One of the reasons that helped influence the decision to switch to gRPC had to do with the [grpc-gateway](https://github.com/grpc-ecosystem/grpc-gateway) project. Being able to exploit the benefits of protocol buffers and gRPC was compelling, but having the ability to be able to generate a reverse proxy that could map REST API operations to gRPC, plus provide [Swagger](http://swagger.io/) was a be

[2016-11-07 17:23] ndegory commented on #385
@generalhenry I suggest that we postpone this one to milestone 0.4.0

[2016-11-07 17:25] ndegory commented on #370
IMO current status of CLI tests justifies that we close this PR (in time for 0.3.0)

[2016-11-07 23:21] subfuzion commented on #385
I'm happy with the examples we added, but this is an ongoing effort, so I'm going to update the milestone.

[2016-11-07 23:22] subfuzion commented on #384
We made good progress on testing. This is an ongoing effort, so I'm going to update the milestone.

[2016-11-07 23:23] subfuzion commented on #370
We made good progress on testing. This is an ongoing effort, so I'm going to update the milestone.

[2016-11-08 06:51] subfuzion opened #430 "Agent Logging"
`amp-agent` currently captures various Docker events plus container stdout/err streams and forwards them over the message queue for storage (buffering messages until these services are available).

However, when we are bootstrapping the swarm, Docker is logging events that we are either not capturing or currently not making available via the log query api/command.

We need to ensure that we have a

[2016-11-08 06:56] subfuzion opened #431 "amp logs without arguments shouldn't be an error"
This is the current output from running `amp logs` without any arguments:

[code]

The command should return default logs (eg, *everything*) or it should default to displaying a help message. Either is better than showing an error.

[2016-11-08 07:46] subfuzion opened #433 "etcd failure"
At today's demo, CLI tests failed for @neha-viswanathan and @JosephGJ apparently because etcd was continuously failing. Analysis is needed to determine what might have been causing the failure, but more importantly a strategy is needed to ensure reliability. There are a number of things to consider:

* I didn't notice etcd cycling between running and failed; I just saw 1/1 replicas (which would im

[2016-11-08 07:56] subfuzion opened #434 "Move integration tests"
Our integrations tests also serve as examples for stack files -- and often get demonstrated as part of presentations and training. To some degree, the yaml-driven, CLI-based integration tests and forthcoming yaml-driven API tests will also be instructional as well. To make them easier to discover and to use in documentation and demos, let's move them under a top level `test` directory, similar to

[2016-11-08 07:58] subfuzion opened #435 "Release binaries should be stored in S3"
Use appcelerator.io AWS account.

[2016-11-08 08:02] subfuzion opened #436 "Create release binaries"
Need a `make dist` or `make release` rule to build release binary goals with the Makefile. These should be stored in an S3 bucket (see #435) and linked from the [Releases](https://github.com/appcelerator/amp/releases) page for Linux, OS X, and Windows.

[2016-11-08 08:12] subfuzion opened #437 "amp swarm command"
Create an `amp swarm` command for local swarm development. The implementation for now will be temporary: the command should start the services in order, or in parallel for services that have no dependencies or else have common dependencies; no service should start until its upstream dependencies are healthy; the entire command should block until the swarm is running and healthy, or it should fail

[2016-11-08 08:31] ndegory commented on #433
we'd need the docker inspect results from @neha-viswanathan or @JosephGJ to see why the healthchecks are failing. I'm guessing it's again the dreaded slowness of Docker for Mac that makes it fail, because it works flawlessly on Linux.

[2016-11-08 09:10] subfuzion commented on #435
@ndegory See Docker for example:

https://github.com/docker/docker/releases

You can use the Appcelerator AWS account to set up Route 53 DNS for https://get.appcelerator.io/builds/{PLATFORM}/{ARCHITECTURE}-X.Y.Z.tgz|zip

We only need to worry about 64-bit Linux, Darwin, and Windows builds for `amp` and `amplifier` for now.

[2016-11-08 10:15] bquenin commented on #431
I'm on it

[2016-11-08 10:58] ndegory commented on #433
What I see on Docker 1.12.3/Ubuntu, only one container and healthcheck taking ~0.3 sec:

[code]

[2016-11-08 16:07] bquenin commented on #430
Hi, I had a look at this issue and here is the status:

It seems that it's not possible to consistently get logs from the docker daemon, or at least, not in a portable manner.

 **dockerd** (the docker daemon):
- `dockerd` logs everything to `stdout` by default and doesn't support any configuration to alter this behavior as you can see in the source code of the daemon itself: https://github.com/do

[2016-11-08 16:26] freignat91 commented on #437
Concidering Docker will release soon its own version of stack implementation, i propose to do not use amp stack package for that, but just the service package and as suggested above create a command with as few as dependencies with amp.

[2016-11-08 18:24] #431 closed, assigned to nobody

[2016-11-08 18:44] ndegory commented on #435
- [x] Archives are built for v0.3.0 and uploaded on S3
- [x] Cloudfront is configured to delivery the content of the S3 bucket
- [x] [Release page](https://github.com/appcelerator/amp/releases/tag/v0.3.0) is updated
- [ ] ~~Certificate is configured~~

[2016-11-09 08:22] ndegory commented on #433
I've made a test on my Mac mini (Docker 1.12.1), I noticed that the healthcheck were executed in ~0.6 sec, and had one failure at more that 1 sec.

[2016-11-09 15:16] ndegory opened #444 "CLI log tests fail expectations"
CLI tests are sometime failing on the logs module, restarting AMP is enough to fix it (same images, same CLI).
The expectation regexp contains a task_id and task_name field which are absent when the test fails, we see the next fields (stack_id and stack_name) instead.
Also, the time_id is not the same format, when the test fails, the value contains a plus sign for the timezone.

Normal log:

[code

[2016-11-09 15:29] subfuzion commented on #437
Yes, I agree ("The implementation for now will be temporary"). For the time being, the implementation should just use the AMP service API, based on the remote Docker API.

[2016-11-09 15:37] hadrien-gantzer commented on #434
Please Checkout [branch 434](https://github.com/appcelerator/amp/tree/issue-434)

Moved cli & rpc tests to a `/tests` folder
Modified `Makefile` **test** section accordingly leveraging explicit definition of what is being tested

[code]

Cli tests & old TEST_PACKAGES loop are commented for the moment:
- Cli are not passing: investigating
- TEST_PACKAGES: to be refactored

[2016-11-09 17:58] JosephGJ commented on #444
Tested `cli_test.go` repeatedly.

Did not get the error you specified at any point. Returns task_name and task_id. There is no change to time_id.

[code]

[2016-11-09 18:35] #433 closed, assigned to nobody

[2016-11-09 21:25] ndegory commented on #444
not sure how to trigger it, I tried to repeat it too, without success yet.

[2016-11-09 22:24] neha-viswanathan opened #446 "amp stats crashing on Windows"
Tested the amp and amplifier binaries on Windows 10.
Executing `amp stats` command resulted in the following error:

[code]

[2016-11-09 23:18] generalhenry opened #447 "amplifier not connecting to docker on windows"
Setup:
  windows
  docker for windows
  swarm running
  amplifier.exe running

Trigger:
  connect to amplifier.exe and make a request to the service api

Result:
  `Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?`

It looks like https://github.com/appcelerator/amp/blob/master/api/rpc/service/service.go#L133 is being run with an uninitialized client

[2016-11-10 08:53] ndegory commented on #435
Release page updated with http instead of https (no valid certificate).

[2016-11-10 08:53] #435 closed, assigned to nobody

[2016-11-10 08:53] #436 closed, assigned to nobody

[2016-11-10 19:24] generalhenry commented on #425
Pure browser JS answer: http://stackoverflow.com/a/35166533/491845
The good news is that the browsers are beginning to support http2 trailers, but it'll be years until there's all the support needed for seamless grpc in the browser.

The midway point of partial grpc in the browser is in progress, but it's at the proposal phase. https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-WEB.md

In the m

[2016-11-14 16:53] #434 closed, assigned to nobody

[2016-11-14 17:31] craigivy opened #456 "Unable to access amp UI"
How do we access the amp UI now.  In the past is was http://HOST_NAME:8080

**Steps to reproduce the issue:**
1. intall amp
2. start amp
3. open browser to http://HOST_NAME:8080

**Describe the results you received:**
nothing

**Describe the results you expected:**
amp UI to be displayed

**Output of `amp version`:**
Installed 0.3.0
Command returned:
[code]

[2016-11-14 17:39] generalhenry commented on #456
Instead of `amp version` use `amp info`
For the ui [ui.local.appcelerator.io](http://ui.local.appcelerator.io/) should work

[2016-11-14 17:52] generalhenry commented on #437
It strikes me that these aren't top level commands.

imo they should either be
`amp platform start/stop/etc. . .`
or
`amplifier start/stop/etc. . .`

[2016-11-14 18:25] craigivy commented on #456
What if its on a remote headless server?
You may want to update the bug template with `amp info`

[2016-11-14 19:45] generalhenry commented on #456
It's based on lowest level subdomain.

So if you have a domain set to your remote server
`http://ui.<your domain>.<tld>` should work

If you don't have a domain attached you can set your hosts file
`<server ip>` ui.amp.host

and use http://ui.amp.host/

[2016-11-14 21:35] generalhenry opened #458 "amp version"
Expectation:
  `amp version` should produce useful version information

Current state:
[code]

All three should print the amp client version at a minimum.

[2016-11-14 21:38] generalhenry commented on #458
related: https://github.com/appcelerator/amp/pull/457

[2016-11-15 04:20] craigivy commented on #456
Verified above works, assume you want to leave this open so it gets documented.  Adding @vivekschauhan so he also understands how it works.

Just curious why you don't want to expose a port for it?

[2016-11-15 09:30] avianey opened #459 "AMP binaries should include the swarm script"
**Description**

Following the doc I successfully get the binaries from https://github.com/appcelerator/amp/blob/master/docs/installation/binaries.md but can't perform first step from https://github.com/appcelerator/amp/tree/master/docs.

**Steps to reproduce the issue:**
1. install from binaries
2. try to get started

**Describe the results you received:**
Can't use getting started guide since th

[2016-11-15 13:26] freignat91 opened #460 "Etcd, Elasticsearch, Kapacitor failing on heavy load"
On Amazon loading a service with 200 containers, etcd crash on regular basis during the service load
The etcd (elasticsearch, kapacitor) logs was:  "received terminated signal, shutting down..."
showing that the Dockerfile HEARTBEAT is too low.

[2016-11-15 19:01] generalhenry commented on #459
related: https://github.com/appcelerator/amp/issues/437

[2016-11-16 06:36] freignat91 commented on #460
Fixed with the last image version: 3.1.0-rc.0-2
Same issue for Kapacitor and Elasticsearch

[2016-11-16 08:38] AlexandreDemailly opened #464 "amp stack update capability"
It seems there is no way to update a deployed stack
The idea would be to be able to update a running stack in order to add a service, to modify a service, to rename the stack

[2016-11-16 08:41] AlexandreDemailly opened #465 "amp stack ls"
the "amp stack ls" doesn't give the stopped stack list.
The only stack visible using amp stack ls is the running stack.
So if we stop a stack we cannot re run it as we don't have its name / id

[2016-11-16 09:08] AlexandreDemailly opened #466 "amp stack versioning"
it would be great to have a versioning capability for stacks.
The idea would be to get this via amp stack ls.
And create / update a stack with a given version of this stack definition

[2016-11-16 10:09] avianey opened #467 "Deleting volume permanently fail after non-graceful shutdown"
**Description**

When hosting AMP services inside a VM and shutting down the VM, then required volume cannot be deleted/recreated and the VM needs to be destroy/recreated

**Steps to reproduce the issue:**
1. start AMP using engage-amp (branch simple-vm-setup) see procedure in /vagrant
2. shutdown the VM using virtualbox or vagrant halt
3. restart the VM and try to `./swarm start`

**Describe the

[2016-11-16 11:31] ndegory commented on #467
@avianey , you should add a script that will properly stop AMP at shutdown.
For instance on a system with systemd, something like this:

[code]

What happens in your case is that the services are killed at shutdown, but Docker does probably not have the time to clean up everything, the system is halted before that. You can consider it as a Docker bug, but that's debatable. So you still have stoppe

[2016-11-16 13:05] avianey commented on #467
will try this thx

[2016-11-16 13:28] #406 closed, assigned to nobody

[2016-11-16 14:53] subfuzion opened #468 "make build / install are failing"
`make build` / `install` are currently failing after pulling latest source and images.

[code]

[2016-11-16 15:15] subfuzion commented on #468
@generalhenry @bquenin @chrisccoy Looks like #452 is the cause. Can't build after this commit.

[2016-11-16 15:17] generalhenry commented on #468
The updated protoc image is needed, `docker pull appcelerator/protoc`

[2016-11-16 15:19] subfuzion commented on #468
@generalhenry Yes, I actually just figured it out on my own. This should have been announced.

[2016-11-16 15:22] subfuzion commented on #468
Unfortunately, GitHub has been experiencing an outage for most of the past half hour: https://twitter.com/githubstatus/status/798901132810719232

[2016-11-16 15:23] ndegory commented on #468
We'd probably tag the protoc image and not use `latest` in the amp build, that would secure all the other branches when we do new developments.

[2016-11-16 15:25] bquenin commented on #468
I experienced the same issue. We should definitely use version on `appcelerator/protoc` image to make sure everything's ok.

[2016-11-16 15:25] subfuzion commented on #468
Yes, that would definitely help.

[2016-11-16 15:27] ndegory commented on #468
ok, I'll take care about it if that's fine for everybody.

[2016-11-16 15:27] subfuzion commented on #468
Resolved by ensuring the latest image is pulled:

[code]

[2016-11-16 15:27] #468 closed, assigned to nobody

[2016-11-16 18:23] ndegory commented on #467
Closing this issue for now, if you need any further information please reopen.

[2016-11-16 18:23] #467 closed, assigned to nobody

[2016-11-16 18:40] generalhenry opened #470 "Update docs for amp platform"
ref: https://github.com/appcelerator/amp/issues/437
ref: https://github.com/appcelerator/amp/issues/459
ref: https://github.com/appcelerator/amp/issues/472

The docs need to be updated to use `amp platform . . .`

[2016-11-16 18:43] generalhenry opened #471 "Add amplifier-gateway to platform"
ref: https://github.com/appcelerator/amp/issues/437
ref: https://github.com/appcelerator/amp/issues/425

Update the platform to include the rest gateway

[2016-11-16 18:52] generalhenry commented on #465
By default `amp stack ls` only lists running stacks.  To list all stacks simply use `amp stack ls -a`.

[2016-11-16 18:53] generalhenry commented on #464
ref: https://github.com/appcelerator/amp/issues/220

[2016-11-16 22:16] subfuzion commented on #430
@bquenin Thanks for the research/analysis. I see what you mean. As you mentioned the `docker events` command provides some overlap with the daemon log. I'm not sure how useful this is in diagnosing amp infrastructure issues, however, especially if we ensure that our bootstrapper reports errors as it runs. I think we can safely table this for now.

[2016-11-16 22:16] #430 closed, assigned to nobody

[2016-11-16 23:35] neha-viswanathan opened #472 "amp platform start command fails to execute"
After pulling AMP images using the command `amp platform pull`, executing `amp platform start -v` fails.

[code]

However, executing `docker swarm init` before running `amp platform start -v` command fixes this issue.

[2016-11-17 07:31] freignat91 commented on #472
yes, amp commands can work only on a running swarm platform, like the previous script 'swarm' we used to start amp.

[2016-11-17 07:33] freignat91 commented on #466
related to #220

[2016-11-17 07:55] #437 closed, assigned to nobody

[2016-11-17 07:55] #459 closed, assigned to nobody

[2016-11-17 08:00] #465 closed, assigned to nobody

[2016-11-17 08:08] freignat91 commented on #446
Should be the case for all about commands considering #447, is-it, or it's specific to stats command?

[2016-11-17 08:15] freignat91 commented on #306
it could also be used to start/stop amp remotely or to add/remove new swam node(s) to swarm cluster.

[2016-11-17 08:16] freignat91 commented on #302
Fixed with `amp platform monitor`

[2016-11-17 08:16] #302 closed, assigned to hadrien-gantzer

[2016-11-17 08:17] #288 closed, assigned to nobody

[2016-11-17 17:42] ndegory opened #475 "Update AMP documentation with amp-swarm-deploy"
update the documentation with information on how to deploy a full Swarm cluster with AMP on AWS, link to appcelerator/amp-swarm-deploy.

[2016-11-17 19:18] neha-viswanathan commented on #472
But with the previous swarm script, there was no need to explicitly execute `docker swarm init` before doing a `swarm start`
As per the tests in #455 `docker swarm init` is not executed before starting the swarm, which why I had this error showing up.

`make install`
stop amp: `amp platform stop`
remove all images and containers
execute: `amp platform pull -v` : pull all images needed for amp (-v:

[2016-11-18 12:26] freignat91 commented on #472
yes, you're right, sorry to have closed this issue too quickly. Looking closer, swarm script initialized swarm. It's not the role of amp commands right now. Not the same responsibility.
Swarm cluster should be ready before executing any amp commands. For instance, using the installation agent/scripts. like the Nicolas's project "amp-swarm-deploy".
For local dev environment, I propose to update the

[2016-11-18 14:37] bquenin commented on #472
I agree with Francois. `amp` commands should assume there is already a swarm cluster up and running (regardless it's a local swarm like we have in development mode, or a multi-node swarm cluster deployed with `amp-swarm-deploy` for instance) .
We should definitely update the documentation about this.

[2016-11-18 16:11] ndegory opened #477 "AMP CLI colors are not terminal theme aware"
The AMP CLI colors are designed for terminal with a dark theme (background is full black).
It's not properly displayed in other teams, in particular the [dark-solarized](http://ethanschoonover.com/solarized) theme.
color.FgHiBlack is lost in the background.

[2016-11-18 18:46] #460 closed, assigned to nobody

[2016-11-18 19:41] JosephGJ opened #480 "[UX enhancements] AMP commands - blocking functionality"
Issue has arisen due to CLI tests running to fast.There is no blocking option for commands. It should force the command to wait until some condition has been met. Used when users want to write scripts using AMP commands.
e.g.
[code]

Given how fast the service is created, `curl` will return
[code]

When it should usually return.
[code]

[2016-11-21 15:10] freignat91 commented on #480
why not to add an option (--sync) to have amp commands synchrous, keeping them asynchrous by default?

[2016-11-21 21:56] #458 closed, assigned to nobody

[2016-11-22 15:07] bquenin opened #484 "Travis doesn't pusblish docker image on master branch anymore"

[2016-11-22 15:25] ndegory commented on #484
when do you the build to be pushed?
It should be the case only when a pull request is merged on master.

[2016-11-22 15:31] ndegory commented on #484
If you look at the output of #485 build ( which triggers a push, and should not), you see that the issue is because of another change:

[code]
the travis script is interpreted without the linefeeds, which makes it fail

[2016-11-22 15:59] bquenin commented on #484
The proposed fix doesn't solve the issue. The latest image is still not published to docker hub (https://hub.docker.com/r/appcelerator/amp/tags/)

[2016-11-22 16:06] #484 closed, assigned to nobody

[2016-11-22 16:43] avianey commented on #467
for the record, this is working :
[code]

[2016-11-22 21:47] generalhenry opened #489 "Travis tests previous amplifier"
Currently my build is failing on travis: https://travis-ci.org/appcelerator/amp/builds/178074710

This is due to a initialization bug introduced by https://github.com/appcelerator/amp/pull/479

I'm working on a fix to the initialization bug, but the issue will still remain that `amp pf pull && amp pf start` pulls and starts amplifier from docker hub.

[2016-11-22 22:51] generalhenry commented on #489
@bquenin I fixed the init bug and hot pushed to docker hub to work around the prev build issue.  I see your work in https://github.com/appcelerator/amp/tree/amp-tests-fix which looks like you're making headway.

My current thinking is:
`./shrink local`
`amp platform pull --local`
`amp platform start --local`
Which would build the amp image locally, skip pulling amp and then launch services with th

[2016-11-22 23:30] bquenin commented on #489
You're right, I was working on a fix, but yours is better.
I'll submit a pull request with a doc for local test development.

[2016-11-23 00:02] #489 closed, assigned to nobody

[2016-11-23 02:17] bquenin commented on #472
Fixed by #483

[2016-11-23 02:17] #472 closed, assigned to nobody

[2016-11-23 02:18] bquenin commented on #470
Closing since all referenced issues are closed

[2016-11-23 02:18] #470 closed, assigned to nobody

[2016-11-23 07:25] freignat91 commented on #477
Added cmd-theme in .amp.yaml, PR#495

[2016-11-23 17:10] #471 closed, assigned to nobody

[2016-11-23 17:21] AlexandreDemailly opened #499 "amp stack ls error"
'amp stack ls' is not able to display the status "partially running" or "failed" for a stack
When we have a failed stack amp platform monitor display a stack but 'amp stack ls -a' displays 'no stack available'
So we cannot stop it and remove it as we are not able to get its ID.

[2016-11-23 18:51] ndegory commented on #499
thank you for the report @AlexandreDemailly
Can you please provide the version you use (if not a release, which branch or which commit of master branch), and which context (local, cluster, AWS, etc)?

[2016-11-23 22:13] JosephGJ commented on #480
I've been working on adding the `--sync` option to the `service create` command. For the moment, if the flag is specified, it will block the create command from finishing execution if it the number of tasks is not equal to the number of replicas. However, after working on it for a bit, the scope is somewhat broader than I had originally seen, as there are other things that may be necessary to wait

[2016-11-24 06:06] #477 closed, assigned to nobody

[2016-11-24 15:14] ndegory opened #500 "Unstable vendor dependencies"
Some of the dependencies listed in the glide lock file are not based on tags or branches. Regenerating the glide.lock breaks some features.

- docker/docker is from an old commit on the master branch (before the 1.13.0* tags were set)
- grpc has no version property

[2016-11-25 09:10] avianey opened #502 "Engage - Being able to see pulling status of stack images from cli"
**Description**

Without access to the swarm cluster running amp services, it's impossible to check for pulling statuses of images after a remote `amp stack up`

**Steps to reproduce the issue:**
1. have the cli on one host
2. swarm services deployed elsewhere
3. create a stack from the cli (containing images that cannot be pulled from the cluster for exemple)
4. see simple-vm-setup branch of enag

[2016-11-25 09:27] avianey opened #503 "CI ready AMP"
**Description**

As a developer leveraging AMP as deployment target, I want to be able to
1. publish my application(s) as docker images to my private registry
2. create a CI job that deploy a solution over AMP using all my docker components to perform IT tests
3. use a remote AMP deployment to deploy my stack into

For now it is not possible to have the adequate separation of concern. When snapsho

[2016-11-28 18:30] chrisccoy opened #505 "Simplify Install Instructions"
Is there a reason for the manual installation steps in the following [docs](https://github.com/appcelerator/amp/blob/master/docs/installation/cloud/cloud-ex-aws.md) for installing docker? I am thinking It might be better and easier to simply perform:
`curl -sSL https://get.docker.com/ | sh`
or for experimental:
`curl -fsSL https://experimental.docker.com/ | sh`

[2016-11-28 18:47] generalhenry commented on #505
I don't think we need to add the experimental url, we don't use the experimental features, and as of docker 1.13 they're being moving into the main install under an experimental flag.

[2016-11-28 19:15] generalhenry commented on #503
Registry authentication centers around `~/.docker/config.json`

When you run `docker login` you make an entry there, and when you run `docker run` et al the docker client sends a request to the docker engine, the docker-engine reads `~/.docker/config.json` and then the docker engine sends the credentials to the registry to authenticate.

This all breaks down in a docker swarm since not all the nod

[2016-11-28 20:07] generalhenry opened #506 "Add --with-registry-auth flag"
ref: https://github.com/appcelerator/amp/issues/503

Add a `--with-registry-auth flag` to `amp service create`, `amp stack create` and `amp stack up`

Follow the behavior of `docker service create` see https://github.com/docker/docker/blob/ce0068ed0483bd87dc4af1e7388d9b9a91431424/cli/command/service/create.go#L78

[2016-11-28 23:53] generalhenry commented on #506
Working in branch: https://github.com/appcelerator/amp/tree/with-registry-auth
So far I've gotten `amp service create` working

To test:
`make install`
`./shrink.sh local`
`amp pf pull --local`
`amp pf start --local`
`amp service create --name test --with-registry-auth [private image]`
Should result in the private image running

[2016-11-29 01:30] generalhenry commented on #506
Making progress on the stack, however it's proving more difficult since each image might be from a different registry which means the stackfile will need to be parsed on the client side.

[2016-11-29 16:15] bquenin commented on #505
Fixed by #507

[2016-11-29 16:15] #505 closed, assigned to nobody

[2016-11-29 20:51] generalhenry commented on #506
I've gotten stacks working

To test:
`make install`
`./shrink.sh local`
`amp pf pull --local`
`amp pf start --local`
`amp stack up -f [path to stackfile that includes private image(s)] --with-registry-auth [stack name]`

However I need to do some clean up before it can be merged.

[2016-11-30 00:24] generalhenry commented on #502
The docker solution to this in a service context is `docker service ps [service_ident]`

Which produces results like:
[code]
Which gives some diagnostic about the status and why your service isn't working

So for `amp stack` a `amp stack ps [stack_ident]` could be made that would list an analogous diagnostic.

[2016-11-30 17:22] chrisccoy commented on #506
@generalhenry
I tried the start command as prescribed above and received the following results:
[code]
Perhaps the platform pull is not including the amp image?
[code]

[2016-11-30 17:41] generalhenry commented on #506
@chrisccoy  try a `amp pf start -f --local`

[2016-11-30 17:42] ndegory commented on #506
@chrisccoy I think it's because for now the ```amp pf pull``` command is only pulling on your local node, and we need to pull on all nodes of your Swarm cluster. This is an annoyance for now, you have to pull manually on each node.
@freignat91 is working on it through the amp agent, so that's a feature we should have soon.

By the way, the ```local``` build is only relevant on single node clusters

[2016-11-30 18:13] chrisccoy commented on #506
@ndegory @generalhenry I am actually running this, at the moment, as a single node. Sorry, I did not read clearly the explanation of the issue surrounding the --with-registry-auth option. I will enable the swarm mode and retest.

[2016-11-30 19:54] freignat91 opened #512 "Cluster management"
be able to manage amp swarm cluster remotely:
- execute amp platform commands remotely (start, stop, status, monitor, pull images on all nodes)
- get nodes,images information
- purges nodes (containers, volujmes, images
- attach, detach a swarm node

This is related to #306, it comes just after swarm bootstrap installation.

[2016-11-30 20:24] neha-viswanathan opened #513 "Repeating randomly generated strings"
When the cli tests are run continuously, the stack and service ids are repeated. The randomly generated strings for the stack and service ids have the same value repeating each time the cli test is executed.

[code]

[2016-11-30 20:34] generalhenry commented on #513
Looks like the default behavior of math/rand is to use the same seed see: https://golang.org/pkg/math/rand/#Seed

[2016-11-30 20:40] generalhenry commented on #513
Adding: `rand.Seed(time.Now().Unix())` should do the trick

[2016-11-30 21:21] generalhenry commented on #512
Some thoughts on the cli:
`amp platform [command] --node [node_ident]`
`amp node ls`
`amp node images [node_ident]`
`amp node purge [node_ident]`
`amp swarm join [manager_addr]`
`amp node rm [node_ident]`

[2016-12-01 10:06] #500 closed, assigned to nobody

[2016-12-02 16:15] freignat91 commented on #499
The point is that a amp stack is considered "running" when all of its services have been created, no matter if these services failed after a while.
The fix could be to re-assess the services status when the command "stack ls" is executing for all stack listed in order to be able to display ones reflecting the current reality.
It's related to #411, because "depending on" ask to develop functions ab

[2016-12-02 16:24] freignat91 commented on #502
amp command have been developed at the beginning only for localhost usage. It was one of the requirement so they don't implement any remote action capabilities.
Next step is to implement remote capabilities (#512), but it needs more than just to change the cli part. we have to include a more global architecture thiking.
First answer is on the #519, but it's not the last on this important topic.

[2016-12-02 16:45] #513 closed, assigned to nobody

[2016-12-02 21:56] chrisccoy opened #520 "Improve Formatting of "stack ps" command"
Currently the `amp stack ps` does not support columnar representation.

[code]

Changes need to be made to `cmd/amp/stack.go` to format the output to match the column headings.

related to #591

[2016-12-05 15:55] bquenin opened #521 "Serverless prototype"
The goal of this prototype is to implement a first version of serverless feature into amp. The proposal is to have a Faas (Function as a Service) built into AMP.

# Story
As a user, I want to trigger a function, i.e. a container when I receive an HTTP POST on a given route.

# Scenario
In order to achieve this story, we need 2 elements:
1. A container which will execute the function
2. Register th

[2016-12-05 20:15] chrisccoy commented on #521
This is well described @bquenin and makes sense to me and I think is a good place to start. I realize this is just in prototype phase and not sure what outcome we are expecting, but the topic of serverless computing immediately brings the following concerns to the forefront, in my mind:

- How to handle response data (correlation id? callbacks? synchronous capability?)

- Implementation of Claim C

[2016-12-05 23:11] bquenin commented on #521
@chrisccoy Thanks for your feedback Chris. I don't have all the answers and this prototype is definitely here to start discussions like this! Here is where I stand today:
 * Handling response data should be done via the natural symmetric of standard input, i.e. standard output. It may conflict with logs but we could standardize to use standard error for logs for instance.
 * Implementation of Clai

[2016-12-06 09:33] ndegory opened #523 "Make dist doesn't work anymore on master branch"
target build-cli-linux of Makefile is not working anymore:
exec: "gcc": executable file not found in $PATH

this message is related to the container building the binaries.
same for make build

[2016-12-06 11:04] bquenin opened #524 "Integration tests are failing on master branch"
Integration tests are failing because of missing binary in the test image.
CLI tests are also failing for some reason.

Here is an excerpt of the build travis build https://travis-ci.org/appcelerator/amp/builds/181707477 :
[code]

[2016-12-06 13:43] #523 closed, assigned to ndegory

[2016-12-06 16:40] #506 closed, assigned to generalhenry

[2016-12-06 19:30] JosephGJ commented on #524
After running `make test` on the master, I get the following return. The cli tests consistently pass and they very rarely fail. I can replicate the issue you are having.
[code]

After adding the changes from PR #525, `make test`will pass.
[code]
As suggested in your message, I will work on making the cli_test.go logs less chatty and make any errors that occur easier to identify and diagnose, along

[2016-12-06 21:05] bquenin commented on #524
@JosephGJ you're right, the PR #525 fixes the `gcc` issue. However, when I was working on this PR, the CLI tests kept failing on travis.
This is mostly a travis CI issue as CLI tests are working most of the time locally.
If you look at the `fix-integration-tests` branch build history on travis here: https://travis-ci.org/appcelerator/amp/branches, you will see that tests never passed despite sever

[2016-12-06 21:33] JosephGJ commented on #524
Bertrand, I'll open a PR and I'll work on the Cli changes that I've mentioned above on said PR. I'll take the changes you made to the makefile and docker.test file and put them on there.

I rebuilt the travis build and it passed, however, I think this `rpc error: code = 13 desc = transport is closing` error is worth looking into.

The cli tests can be somewhat random as described because of the co

[2016-12-07 01:02] bquenin commented on #524
Ok, thanks!
You're right, maybe there's a real issue lurking, it would be great to be able to reproduce the issue in a deterministic way in order to fix it.

[2016-12-08 00:34] JosephGJ commented on #524
The error you've been experiencing bertrand has persisted even with the minor changes. You can see this referenced in #529.

I think the issue is that amplifier is crashing during the execution of `make test`. Taking a look at the amplifier logs may show us the source of the problem.

[2016-12-08 14:54] bquenin opened #531 "amp stats panic"
Sometimes, the command `amp stats` causes a panic and crashes amplifier.

[code]

[2016-12-08 16:13] #524 closed, assigned to nobody

[2016-12-08 23:28] subfuzion opened #532 "panic: amp platform start --local -f"
amp was already running; checked out a new branch to review a PR and attempted to restart.

[code]

[2016-12-09 07:19] freignat91 commented on #532
It was a service infrastucture/user error. Amp tried to restart user service which hasn't service.spec definition and in addition force mode continue to try to start the service once when it shouldn't try at all.

[2016-12-09 13:11] #532 closed, assigned to nobody

[2016-12-09 15:16] ndegory opened #535 "AMP registry not reachable remotely"
AMP CLI registry command is not working correctly when using a remote CLI:
- --server option is not used by the registry commands
- --domain is only used by the push command (and not the ls command)
- lookup errors while pushing on a custom domain name

[2016-12-09 19:35] #531 closed, assigned to nobody

[2016-12-09 19:36] bquenin commented on #444
I think we can close this issue now ?

[2016-12-09 20:57] #444 closed, assigned to nobody

[2016-12-09 22:16] bquenin opened #537 "Integration tests are sometimes reported successful even though they failed"
You have an example here:
https://travis-ci.org/appcelerator/amp/builds/182728542

[2016-12-12 12:19] freignat91 opened #540 "registry --domain usage issue"
I didn't get why we have added a --domain argument to the amp registry cli command.
Why do'nt use the server address instead?
registry.[serveur address] is routed to registry by HAProxy
considering the server address shouldn't be an IP but a DNS, i don't see the need to use another information.
Note: we can use serverAddresss as IP format only for amplifier command as stats, logs, stack, ..., beca

[2016-12-12 12:19] #535 closed, assigned to nobody

[2016-12-12 13:14] #475 closed, assigned to ndegory

[2016-12-12 13:40] ndegory commented on #540
that would nice to merge the two options, for now we have these two options because of what you described (serverAddr can be an IP) and because serverAddr contains also a port, which is not the one for the registry service.

[2016-12-12 15:22] #537 closed, assigned to bquenin

[2016-12-13 16:22] muhilan opened #546 "Question on docker-compose"
Will AMP be supporting deploy from a docker-compose in the future? Docker 1.13 will have this feature.

[2016-12-13 16:32] subfuzion opened #547 "amp --version"
`amp --version` should only display the version information. Currently it also displays help.

[2016-12-13 16:34] subfuzion opened #548 "amp version"
`amp version` should work similarly to `docker version`. It should display version information about the client environment, and if it is able to connect to `amplifier`, it should also display version information about the server environment.

[2016-12-13 16:37] subfuzion opened #549 "amplifier --version"
Version information is displayed as part of running the process at the command line, but the flag is actually not recognized and help is displayed.

[2016-12-13 16:38] subfuzion opened #550 "amplifier version"
`amplifier version` should exit after displaying version information.

[2016-12-13 16:41] subfuzion opened #551 "amp tools"
All of the `amp*` tools should work similarly with respect to displaying version information (they should at least support `-V|--version`), and any CLI tool generally should support the `version` command as well.

[2016-12-13 16:44] subfuzion opened #552 "amplifier should initialize API services in parallel"
`amplifier` currently initializes each API service / backend connection sequentially, starting with `etcd`. These can be done in parallel, failing if any are not available and continuing once all are connected.

[2016-12-13 16:47] subfuzion opened #553 "shrink build"
`shrink.sh` should be renamed and also incorporated into the Makefile as a specific target or part of the build/install rules.

[2016-12-13 16:52] subfuzion opened #554 "runtime panic due to trace"
`amp` and `amplifier` panic after a fresh `glide install` and build. This is due to two initializations of trace both registering a listener for `/debug/trace`. The panic also occurs and prevents `amplifier` from starting up as a container when running `amp pf start`.

The current fix is to manually remove the vendored copy of trace:

    $ rm -rf vendor/github.com/docker/docker/vendor/golang.org/

[2016-12-13 16:58] subfuzion opened #555 "install / build rule proto dependency"
The dependency on the proto was removed from the Makefile and needs to be restored. As a consequence of its removal, after a cloning the repo or after running `make clean` it is necessary to now manually run `make proto` first or else `make build|install` will fail. The proto rule originally used all the *.pb files as dependencies so it only built `*.pb.go` as necessary; if that stopped working, i

[2016-12-13 16:59] subfuzion opened #556 "amp / amplifier config command should be useful"
Currently, `amp config` and `amplifier config` do not display the current configuration in a useful format.

[2016-12-13 17:00] subfuzion opened #557 "amp --config-file with no argument should display config file path"

[2016-12-13 17:04] subfuzion opened #558 "amp info should display relevant information"
Similar to `docker info`...

[2016-12-13 17:18] ndegory commented on #555
the removal of .pb.go files has been moved to a proto-clean rule, now make clean install does not trigger any error. Fixed in #530

[2016-12-13 18:01] generalhenry opened #559 "Attachable Networks"
The `amp-infra` and `amp-public` networks should be [attachable](https://github.com/docker/docker/pull/25962) so that we can improve our developer workflow from `amp pf stop && ./shink.sh local && amp pf start -l`

Alternate workflow:
`docker service rm amplifier`
`docker run -it --rm --network amp-infra --network amp-public --network-alias amplifier -v path/to/local:go/src/github.com/appcelerator

[2016-12-13 18:04] subfuzion opened #560 "config files location"
`amp*` tools should place their config files under `$HOME/.config/amp` on linux/mac-based systems. The individual files do not need a leading `.` with this convention.

`amplifier`'s config should be renamed from `ampswarm.yaml` -> `amplifier.yaml` (named after the program).

    $HOME/
      .config/
            amp/
                amp.yaml
                amplifier.yaml

[2016-12-13 18:06] subfuzion opened #561 "amplifier flags should be lowercased"
...and hyphenated as appropriate.

Example:

    --influxURL -> --influx-url

[2016-12-13 18:12] generalhenry commented on #546
We've been discussing this internally.  Docker 1.13 adds two things, [docker compose version 3](https://deploy-preview-716--docker-docs.netlify.com/compose/compose-file/) and [docker stack deploy](https://github.com/docker/docker/pull/27998).

docker compose v3 is close to a superset of our stackfile.yaml, however it does not include [routing information](https://github.com/appcelerator/amp/blob/m

[2016-12-13 18:16] subfuzion opened #562 "Developer workflow improvements needed"
The development experience has gotten worse due to the following reasons:

* Removal of make rules for specific targets. Now, if a developer makes a change to the CLI and wants to rebuild, all the binaries are build, not just the CLI. Build targets, such as `make build-cli / make install-cli` need to be restored.

* Unable to run locally built `amplifier`. Testing updates to `amplifier` now requir

[2016-12-13 18:18] subfuzion opened #563 "Should not get a panic for supplying invalid options"
Our tools should not panic when supplied an invalid command or option. Currently, however, invalid options for `amp` do. For example, the following (mispelled) option causes a panic.

    $ amp service create --helpp

The CLI should simply display "Unrecognized option: helpp" and exit (1).

[2016-12-13 18:20] generalhenry commented on #562
ref: https://github.com/appcelerator/amp/issues/559

[2016-12-13 18:27] generalhenry commented on #563
The result is
'error'
'usage'
'panic'

Should the usage not be printed on user interface errors?

[2016-12-13 18:29] subfuzion opened #564 "amp kv command"
`amp kv` should allow inspection and updates of the key-value store (etcd). The following subcommands should be supported as minimum for now.

* put
* get
* del (alias rm)
* ls [--recursive]

See [etcdctl docs](https://github.com/coreos/etcd/tree/master/etcdctl) for guidance.

[2016-12-13 18:37] subfuzion opened #565 "Tool help standardization"
* All of our tools should display help in the same format as the CLI.
* All command and option help descriptions should start with an uppercase letter to look consistent. Linux tools are pretty inconsistent (even gnu programs, like gcc and yacc, aren't consistent). It's not that any one format is best, but we should at least strive for consistency among our own tools. If we end a description with

[2016-12-13 18:39] subfuzion commented on #563
Should not panic. Displaying correct usage is fine though.

[code]

[2016-12-13 18:43] ndegory commented on #560
should we also keep a failover to ~/.amp.yaml if there's no ~/.config/amp/amp.yaml file? That's what most programs do.

[2016-12-13 18:52] subfuzion commented on #560
No, not necessary. Littering the top level of the home directory with dotfiles is a pretty archaic convention. We should ensure that if the config file doesn't exist that we create an empty one (also creating the path if that doesn't exist as well).

[2016-12-13 19:13] subfuzion commented on #560
I googled and came across [this](http://unix.stackexchange.com/questions/24347/why-do-some-applications-use-config-appname-for-their-config-data-while-other?rq=1). 2 out 3 answers (and 98% of the upvotes) agree on using the XDG Standard.

[2016-12-13 19:16] subfuzion opened #567 "docs are out of date"
Starting with `docs/README.md`

[2016-12-13 19:18] subfuzion opened #568 "make not cleaning up after build"

[2016-12-13 19:19] subfuzion commented on #568
Need to investigate further.

[2016-12-13 19:19] #568 closed, assigned to nobody

[2016-12-13 19:25] subfuzion opened #569 "API Documentation"
Providing API documentation is quickly becoming a necessity for other teams looking to leverage AMP. We need to provide API (gRPC/protobuf) documentation and REST API docs, and we should consider hosting swagger docs as an amplifier service as well as making them available online.

[2016-12-13 19:30] subfuzion opened #570 "amp platform --start"
Currently the display provides no feedback as to which service is launching. It would be nice to feedback to display which service is being started, and then update the display to say the service is ready.

[2016-12-13 19:35] subfuzion opened #571 "editorconfig"
Go provides standard formatting support, but it would be nice to have an [.editorconfig](http://editorconfig.org/) in the repo for the editors that support it so that formatting appears consistent for not just go, but also

    * yaml files (`.yaml|.yml`)
    * protobuf files (`*.pb`)
    * shell scripts (`*.sh`)

[2016-12-13 19:36] generalhenry opened #572 "API Error Codes"
Most API error currently return the default [grpc error code](https://godoc.org/google.golang.org/grpc/codes) 2 (unknown)

These can be fixed by returning [grpc errors](https://godoc.org/google.golang.org/grpc#Errorf)

Example: https://github.com/appcelerator/amp/blob/master/api/rpc/stack/stack.go#L85
should use `grpc.Errorf(codes.AlreadyExists, "Stack %s already exists", in.Stack.Name)`

[2016-12-13 19:37] generalhenry commented on #569
ref: https://github.com/appcelerator/amp/issues/425

[2016-12-13 19:39] subfuzion commented on #555
This is not a better solution than what existed before. There actually isn't really much of a reason for using a Makefile if we don't take advantage of the fact that it can recognize when file dependencies have been updated and automatically run rules for us. This was one of the few reasons for using a Makefile in the first place; otherwise we could just supply shell script commands. If the rule w

[2016-12-13 22:47] muhilan commented on #546
Thanks @generalhenry .

[2016-12-13 22:47] #546 closed, assigned to nobody

[2016-12-13 23:30] subfuzion commented on #572
Great tip.

[2016-12-13 23:33] subfuzion opened #573 "Stack error codes"
Ref: #572  Review and replace errors with grpc errors, as appropriate.

[2016-12-13 23:33] subfuzion opened #574 "Service error codes"
Ref: #572  Review and replace errors with grpc errors, as appropriate.

[2016-12-13 23:35] subfuzion opened #575 "Logs error codes"
Ref: #572  Review and replace errors with grpc errors, as appropriate.

[2016-12-13 23:36] subfuzion opened #576 "Stats error codes"
Ref: #572  Review and replace errors with grpc errors, as appropriate.

[2016-12-13 23:36] subfuzion opened #577 "Registry error codes"
Ref: #572  Review and replace errors with grpc errors, as appropriate.

[2016-12-13 23:37] subfuzion opened #578 "Topic error codes"
Ref: #572  Review and replace errors with grpc errors, as appropriate.

[2016-12-13 23:38] subfuzion opened #579 "KV error codes"
Ref: #572  Review and replace errors with grpc errors, as appropriate.

[2016-12-13 23:38] subfuzion opened #580 "Platform error codes"
Ref: #572  Review and replace errors with grpc errors, as appropriate.

[2016-12-13 23:53] neha-viswanathan commented on #565
There is a difference in the usage message for certain commands. Need a consensus on deciding what should `Use` contain?
[code]
[code]

[2016-12-14 01:26] generalhenry commented on #559
I made some progress here, I got my container up and attached, with amplifier running correctly, however I haven't gotten haproxy or amp-gateway to route to it.

[2016-12-14 07:06] freignat91 commented on #570
these messages are visible with -v option.
Do you want to always see them without -v ?

[2016-12-14 07:14] ndegory commented on #565
@neha-viswanathan IMO and based on [the official doc](https://github.com/spf13/cobra),  _Use_ should be the binary/command name, _Short_ should be a few words description, and _Long_ can be a multiline description.

[2016-12-14 08:00] ndegory commented on #571
@subfuzion and @generalhenry For go files should it be specified in the .editoconfig or handed down to the Golang formatting plugin that everybody should have on her editor? (I'd prefer the latter)

[2016-12-14 09:58] freignat91 commented on #577
Registry doesn't have any grp calls. it's all on client side for now.

[2016-12-14 09:59] freignat91 commented on #580
Plateform/pf doesn't have any grpc call. It's all on client side
ampadm (amp-cluster)  have grpc calls, i update the PR#519
and i rename `amp-cluster` cli  to  `ampdadm`

[2016-12-14 15:09] bquenin commented on #551
@subfuzion Do you mean all the binaries included in the amp image or only `amp` and `amplifier` ?
Here are the binaries included in the amp image today:
 - `amp`
 - `amplifier`
 - `amp-agent`
 - `amp-log-worker`
 - `amplifier-gateway`

[2016-12-14 16:28] bquenin commented on #569
I think that if we provide swagger files (through the `amplifier-gateway`), we're good to go. Do you think we need more than this ?

[2016-12-14 18:42] #549 closed, assigned to nobody

[2016-12-15 00:45] neha-viswanathan opened #591 "Standardize output format using tabwriter"
The outputs of different commands are formatted differently. Only some are using `tabwriter` package (like: `topic` and `kv`)

[2016-12-15 09:44] ndegory commented on #556
sorry @bquenin I just saw this issue, I did something on it in #592. If you already worked on it, I can revert that part.

[2016-12-15 09:46] ndegory commented on #557
relates to #592

[2016-12-15 11:40] #550 closed, assigned to nobody

[2016-12-15 12:15] bquenin commented on #556
@ndegory no worries, I didn't start working on it yet, It's all yours :)

[2016-12-15 12:23] ndegory commented on #556
lol 🙄

[2016-12-15 12:57] freignat91 commented on #591
done for new cluster cli commands, it stays stats and stacks to move on it,
For amp pf command (monitor), we can wait the cluster cli is validated

[2016-12-15 13:55] bquenin commented on #558
Here is a sample output of `docker info`:
[code]

There's a lot of information. What kind of information should `amp info` report ?
 - Number of stacks ?
 - Number of images in amp private registry ?
 - Number of keys in etcd ?

I'm not sure what valuable information we can report.

[2016-12-15 15:24] #563 closed, assigned to nobody

[2016-12-15 16:00] #552 closed, assigned to nobody

[2016-12-15 16:26] #560 closed, assigned to nobody

[2016-12-15 16:31] generalhenry commented on #578
closed by https://github.com/appcelerator/amp/pull/584

[2016-12-15 16:31] #578 closed, assigned to nobody

[2016-12-15 16:32] generalhenry commented on #574
closed by https://github.com/appcelerator/amp/pull/585

[2016-12-15 16:32] #574 closed, assigned to nobody

[2016-12-15 16:32] #575 closed, assigned to nobody

[2016-12-15 16:33] subfuzion commented on #558
Sure, take a stab at providing a rollup of the current state of the system, eg, a snapshot of the latest stats information presented in this style of summary format. It's meant to be an aid for when issues are reported. No need to go crazy on it right now, perhaps, but we I think we can at least make a modest attempt to provide something more useful than what we have at present.

[2016-12-15 16:36] subfuzion commented on #556
@ndegory Nice work with #592, thanks. Let's make sure *both* amp and amplifier provide the current config in a useful format, then we can close this issue.

[2016-12-16 10:02] freignat91 opened #594 "conf file .config/amp/amp.yaml issue"
since amp conffile has been moved to ~/.config/amp the color themes are not taken in account anymore
I got default theme even with a config indicating a 'dark' theme:

cmdTheme: dark

[2016-12-16 11:58] #594 closed, assigned to nobody

[2016-12-16 12:45] #577 closed, assigned to nobody

[2016-12-16 12:45] #580 closed, assigned to nobody

[2016-12-16 12:47] freignat91 commented on #591
waiting until #583 is merged to fix this issue

[2016-12-16 12:50] #554 closed, assigned to nobody

[2016-12-16 14:15] bquenin commented on #562
@subfuzion For the second item, about the local amplifier. What we could do as well is to add a flag like this:
`amp pf start --dev`

The `--dev` flag would expose the ports of the amp services (like before) making local development a breeze.

What do you think ?

[2016-12-16 17:55] #571 closed, assigned to nobody

[2016-12-16 19:23] #553 closed, assigned to nobody

[2016-12-16 20:58] generalhenry opened #597 "User Story: service links"
I'm an amp user and I my team has some stacks running.  I know that my services are published but I don't know the urls.  I want a command that list the urls and/or the urls to be listed in the ui.

Proposed interface:
`amp stack links [stack_ident . . .]`
[code]

[2016-12-16 21:03] subfuzion commented on #597
Wow, it only took you two minutes to implement! ;)

[2016-12-16 21:13] subfuzion commented on #597
I like it. My only objection is a bit pedantic regarding the term "link", which I generally use in a clickable context (eg, web page links) ... otherwise I think telecommunication/network links. I'm not so pedantic that I insist on using URI, and I don't want to bikeshed over this, but can we get maybe one or two more opinions for consensus around this? On the plus side, "links" rolls off the tong

[2016-12-16 21:18] generalhenry commented on #597
So `amp stack urls [stack_ident]`?

[2016-12-16 21:24] subfuzion commented on #597
I'm not adamant about it, but yes, I do think that's better. Do you want to get a tie-breaking opinion, or do you not feel strongly about it. Other than that, this is a very good thing to add.

[2016-12-16 21:25] generalhenry commented on #597
I just had links on my mind since I implemented the web-ui first

[2016-12-16 21:26] ndegory commented on #597
```urls``` is good

[2016-12-16 21:27] subfuzion commented on #597
Actually, I like `amp stack routes <stack>`, which to me is more representative I what I want to know about the stack. (It's ok that it's the full url route)

[2016-12-16 21:31] ndegory commented on #597
what about ```urls``` with a ```route``` alias?

[2016-12-16 21:32] subfuzion commented on #597
Let's just pick one.

[2016-12-16 21:33] subfuzion commented on #597
We are going to start bikeshedding, aren't we, lol. Well, we are using haproxy for our url-based
routing ;)

[2016-12-16 21:37] subfuzion commented on #597
@generalhenry , make the call and we'll live with it for now. 👊

[2016-12-16 21:50] ndegory opened #599 "Stats integration tests randomly fail"
The stats integration tests uses a regexp to look for a container (amp), but the container names also contain random strings (like kapacitor.1.ljnd**amp**wvlkh), which can lead to false positive, eventually failing the test.

[2016-12-16 22:31] #599 closed, assigned to nobody

[2016-12-16 22:40] #597 closed, assigned to generalhenry

[2016-12-16 22:42] #557 closed, assigned to nobody

[2016-12-16 22:56] #573 closed, assigned to nobody

[2016-12-16 22:56] #576 closed, assigned to nobody

[2016-12-16 22:58] #547 closed, assigned to nobody

[2016-12-16 22:59] #561 closed, assigned to nobody

[2016-12-16 23:04] bquenin commented on #133
I think this issue has been fixed since

[2016-12-16 23:04] generalhenry commented on #572
That's all existing errors.

[2016-12-16 23:04] #572 closed, assigned to nobody

[2016-12-16 23:18] #564 closed, assigned to nobody

[2016-12-19 15:56] #567 closed, assigned to nobody

[2016-12-19 16:25] chrisccoy commented on #521
@bquenin, nice work on #539. I have been researching the serverless architecture provided by [ironio](https://github.com/iron-io/functions) and it seems very popular to be using [dind](https://hub.docker.com/_/docker/) _Docker In Docker_

This might be something we want to research as well. It requires running the FaaS container in privileged mode, but seems well suited for this use case.

[2016-12-19 16:56] bquenin commented on #521
Hi @chrisccoy, I know about `dind` but I'm not sure we need to use it, we can use the actual docker daemon. What do you think are the pros/cons?

[2016-12-19 18:56] subfuzion opened #604 "Implement help command"
See [cobra docs](https://github.com/spf13/cobra#the-help-command).

[2016-12-20 06:26] chrisccoy commented on #521
Honestly, difficult to say. For starters, I like the encapsulation aspect of `dind`; spun up containers don't hang around on the main daemon. Also, it is easy to cleanup, by simply removing the FaaS container(s).

However, I like the way you can attach to the socket and essentially "callback" to the main daemon, as the prototype does, but I think it warrants investigation, because it could be a bi

[2017-01-02 08:29] ndegory opened #618 "Upgrade to ElasticSearch 5"
AMP should move to the latest version of ElasticSearch (5).
AMP is already using the client API of version 5, so there should not be any issue in the update.

[2017-01-02 09:40] ndegory opened #620 "New proto files are not automatically added to the Makefile proto rule"
The PROTOGWTARGETS in AMP's Makefile is not dynamic, when a new .proto file with gRPC annotations are added the .pb.gw.go file is not built.

[2017-01-02 10:06] ndegory opened #621 "Base AMP images on Alpine 3.5"
Alpine 3.5 is out, many AMP infra images are based on Alpine 3.4, they should rebased on 3.5.

- [x] influxdb (influxdb-1.1.2)
- [x] telegraf (telegraf-1.1.2)
- [x] kapacitor (kapacitor-1.1.1)
- [x] grafana (grafana-4.1.1)
- [x] elasticsearch (5.1.1-3)
- [x] etcd (3.1.0-rc.1-1)
- [x] haproxy (1.0.4)
- [x] amp (PR #682)
- [x] update references in AMP CLI sources

[2017-01-03 08:02] ndegory opened #623 "Make check errors"
[code]

[2017-01-03 08:25] subfuzion commented on #623
Holy crap, you beat me to this, lol. I saved these in a gist over the weekend and just created a mobilize post. I wasn't going to create an issue, but just decided to do it now since mobilize doesn't support markup. Anyway, right on!

[2017-01-03 08:48] freignat91 commented on #559
Seems that attachable network has been added in docker v1.13.0-rc4:
concidering the release note:

**Networking**

Add --attachable network support to enable docker run to work in swarm-mode overlay network #25962

[2017-01-03 14:10] #620 closed, assigned to nobody

[2017-01-03 14:11] #623 closed, assigned to nobody

[2017-01-03 16:06] #579 closed, assigned to nobody

[2017-01-03 16:34] bquenin opened #629 "amp logs crashes when Verbose flag is set"

[2017-01-03 16:43] #629 closed, assigned to bquenin

[2017-01-03 18:56] subfuzion commented on #570
amp pf -v is meant to be very verbose -- more of a debugging aid. But I do think the default for the command should be slightly more verbose. There is a long gap between starting the command before feedback gets displayed.

As an aside, the verbose output is a bit misleading the way it is currently expressed:

![misleading](https://cloud.githubusercontent.com/assets/159738/21619138/3da9133a-d1a3-1

[2017-01-03 20:29] #618 closed, assigned to nobody

[2017-01-04 00:43] subfuzion commented on #591
@freignat91 #583 was merged.

[2017-01-04 13:22] bquenin opened #633 "Travis build should run make fmt and check rules"
Enforcing this would avoid having spurious warnings in the build process.

[2017-01-04 16:22] subfuzion commented on #633
@bquenin I disagree with this, especially in light of how long `make check` takes to run. These checks should be a part of our CI process, ensuring that they get automatically run for PRs. Once I run an install, I don't care that source code might not have been formatted properly, or even that some of the lint rules have failed.

[2017-01-04 16:26] bquenin commented on #633
@subfuzion I agree, it lengthens the install process which is actually already taking time. I can move this to the travis.yml instead

[2017-01-04 16:26] subfuzion commented on #633
@bquenin That would be great, thanks! 👍

[2017-01-04 16:40] freignat91 opened #636 "manager.go check issue"
make check return:
/go/src/github.com/appcelerator/amp/cmd/amp/platform_manager.go:653:1: receiver name m should be consistent with previous receiver name s for ampManager

We have to rename variable "m" to "s" to be consistent with the file variable usage.

Addressed in PR#635

[2017-01-04 17:08] #633 closed, assigned to bquenin

[2017-01-04 19:13] bquenin opened #639 "Source code should use constants defined in 'config/amp.go'"
There are quite a lot of harcoded constants in our code base. When relevant, we should add them to the 'config/amp.go' and refer to them instead, making maintenance/refactoring way easier.

[2017-01-05 00:38] subfuzion opened #640 "amp check command"
It would be very useful to have some kind of smoke test command that can be run from the CLI to verify the environment, note any issues, and potentially offer to fix them. The main use case would be for developing and testing services on localhost.

Initial brainstorming example:

    $ amp check
    Checking local environment...
    [✔] Docker v1.13
    [✔] Host is a swarm manager
    [✔] appcele

[2017-01-05 01:27] subfuzion commented on #640
Continuing the brainstorming with @generalhenry ... current thoughts include:

`amp pf start --local` always runs the checks silently, only reporting errors, or showing everything if verbose (-v), offering to fix (or option to toggle)...

There are various `amp platform` options that can be used to accomplish something similar, but having a single command run a full suite of smoke tests, identifyi